<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\DefaultErrorResponseEntityException;
use AdyenLib\Models\AccountVerificationReportResponse;
use AdyenLib\Models\AccountVerificationRoutesRequest;
use AdyenLib\Models\AccountVerificationRoutesResponse;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class AccountVerificationApi extends BaseApi
{
    /**
     * Get the account verification report using a unique code from a successful open banking connection.
     * This report provides identity verification and bank account details.
     *
     * @param string $code The unique code you receive after a successful open banking flow that is
     *        included as a query parameter in the `redirectUrl` callback.
     *
     * @return AccountVerificationReportResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getAccountVerificationReportsCode(string $code): AccountVerificationReportResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/accountVerification/reports/{code}')
            ->server(Server::DEFAULT21)
            ->parameters(TemplateParam::init('code', $code));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - The request is malformed or is not in the expected format.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - The API credential used in the request is invalid or does n' .
                    'ot have the right permissions.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not Found - The entity was not found.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '429',
                ErrorType::init(
                    'Too Many Requests - Request rate limit exceeded.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Service Error - An unrecoverable error occurred while trying to p' .
                    'erform the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(AccountVerificationReportResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Create a list of routes for verifying bank accounts of third-party individuals. Successful
     * connections generate a unique code used for requesting bank reports and verifying identity.
     *
     * @param AccountVerificationRoutesRequest $body
     *
     * @return AccountVerificationRoutesResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postAccountVerificationRoutes(
        AccountVerificationRoutesRequest $body
    ): AccountVerificationRoutesResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/accountVerification/routes')
            ->server(Server::DEFAULT21)
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - The request is malformed or is not in the expected format.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - The API credential used in the request is invalid or does n' .
                    'ot have the right permissions.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '429',
                ErrorType::init(
                    'Too Many Requests - Request rate limit exceeded.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Service Error - An unrecoverable error occurred while trying to p' .
                    'erform the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(AccountVerificationRoutesResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
