<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\RestServiceErrorException;
use AdyenLib\Models\Company2;
use AdyenLib\Models\ListCompanyResponse;
use AdyenLib\Models\ListMerchantResponse;
use AdyenLib\Server;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class AccountCompanyLevelApi extends BaseApi
{
    /**
     * Returns the list of company accounts that your API credential has access to. The list is grouped
     * into pages as defined by the query parameters.
     *
     * To make this request, your API credential must have the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     *
     * * Management API—Account read
     *
     * @param int|null $pageNumber The number of the page to fetch.
     * @param int|null $pageSize The number of items to have on a page, maximum 100. The default is
     *        10 items on a page.
     *
     * @return ListCompanyResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getCompanies(?int $pageNumber = null, ?int $pageSize = null): ListCompanyResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/companies')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(QueryParam::init('pageNumber', $pageNumber), QueryParam::init('pageSize', $pageSize));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(ListCompanyResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the company account specified in the path. Your API credential must have access to the
     * company account.
     *
     * To make this request, your API credential must have the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Account read
     *
     * @param string $companyId The unique identifier of the company account.
     *
     * @return Company2 Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getCompaniesCompanyId(string $companyId): Company2
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/companies/{companyId}')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('companyId', $companyId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(Company2::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the list of merchant accounts under the company account specified in the path. The list only
     * includes merchant accounts that your API credential has access to. The list is grouped into pages as
     * defined by the query parameters.
     *
     * To make this request, your API credential must have the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Account read
     *
     * @param string $companyId The unique identifier of the company account.
     * @param int|null $pageNumber The number of the page to fetch.
     * @param int|null $pageSize The number of items to have on a page, maximum 100. The default is
     *        10 items on a page.
     *
     * @return ListMerchantResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getCompaniesCompanyIdMerchants(
        string $companyId,
        ?int $pageNumber = null,
        ?int $pageSize = null
    ): ListMerchantResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/companies/{companyId}/merchants')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId),
                QueryParam::init('pageNumber', $pageNumber),
                QueryParam::init('pageSize', $pageSize)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(ListMerchantResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
