<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\RestServiceErrorException;
use AdyenLib\Models\AllowedOrigin;
use AdyenLib\Models\AllowedOriginsResponse;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class AllowedOriginsMerchantLevelApi extends BaseApi
{
    /**
     * Returns the list of [allowed origins](https://docs.adyen.com/development-resources/client-side-
     * authentication#allowed-origins) for the API credential identified in the path.
     *
     * To make this request, your API credential must have the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—API credentials read and write
     *
     * @param string $merchantId The unique identifier of the merchant account.
     * @param string $apiCredentialId Unique identifier of the API credential.
     *
     * @return AllowedOriginsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getMerchantsMerchantIdApiCredentialsApiCredentialIdAllowedOrigins(
        string $merchantId,
        string $apiCredentialId
    ): AllowedOriginsResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/merchants/{merchantId}/apiCredentials/{apiCredentialId}/allowedOrigins'
        )
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('merchantId', $merchantId),
                TemplateParam::init('apiCredentialId', $apiCredentialId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(AllowedOriginsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Adds a new [allowed origin](https://docs.adyen.com/development-resources/client-side-
     * authentication#allowed-origins) to the API credential's list of allowed origins.
     *
     * To make this request, your API credential must have the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—API credentials read and write
     *
     * @param string $merchantId The unique identifier of the merchant account.
     * @param string $apiCredentialId Unique identifier of the API credential.
     * @param AllowedOrigin|null $body
     *
     * @return AllowedOrigin Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postMerchantsMerchantIdApiCredentialsApiCredentialIdAllowedOrigins(
        string $merchantId,
        string $apiCredentialId,
        ?AllowedOrigin $body = null
    ): AllowedOrigin {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/merchants/{merchantId}/apiCredentials/{apiCredentialId}/allowedOrigins'
        )
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('merchantId', $merchantId),
                TemplateParam::init('apiCredentialId', $apiCredentialId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(AllowedOrigin::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the [allowed origin](https://docs.adyen.com/development-resources/client-side-
     * authentication#allowed-origins) identified in the path.
     *
     * To make this request, your API credential must have the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—API credentials read and write
     *
     * @param string $merchantId The unique identifier of the merchant account.
     * @param string $apiCredentialId Unique identifier of the API credential.
     * @param string $originId Unique identifier of the allowed origin.
     *
     * @return AllowedOrigin Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getMerchantsMerchantIdApiCredentialsApiCredentialIdAllowedOriginsOriginId(
        string $merchantId,
        string $apiCredentialId,
        string $originId
    ): AllowedOrigin {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/merchants/{merchantId}/apiCredentials/{apiCredentialId}/allowedOrigins/{originId}'
        )
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('merchantId', $merchantId),
                TemplateParam::init('apiCredentialId', $apiCredentialId),
                TemplateParam::init('originId', $originId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(AllowedOrigin::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Removes the [allowed origin](https://docs.adyen.com/development-resources/client-side-
     * authentication#allowed-origins) identified in the path. As soon as an allowed origin is removed, we
     * no longer accept client-side requests from that domain.
     *
     * To make this request, your API credential must have the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—API credentials read and write
     *
     * @param string $merchantId The unique identifier of the merchant account.
     * @param string $apiCredentialId Unique identifier of the API credential.
     * @param string $originId Unique identifier of the allowed origin.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteMerchantsMerchantIdApiCredentialsApiCredentialIdAllowedOriginsOriginId(
        string $merchantId,
        string $apiCredentialId,
        string $originId
    ): void {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/merchants/{merchantId}/apiCredentials/{apiCredentialId}/allowedOrigins/{originId}'
        )
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('merchantId', $merchantId),
                TemplateParam::init('apiCredentialId', $apiCredentialId),
                TemplateParam::init('originId', $originId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            );

        $this->execute($_reqBuilder, $_resHandler);
    }
}
