<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\RestServiceErrorException;
use AdyenLib\Models\AndroidApp;
use AdyenLib\Models\AndroidAppsResponse;
use AdyenLib\Models\AndroidCertificatesResponse;
use AdyenLib\Models\ReprocessAndroidAppResponse;
use AdyenLib\Models\UploadAndroidAppResponse;
use AdyenLib\Models\UploadAndroidCertificateResponse;
use AdyenLib\Server;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class AndroidFilesCompanyLevelApi extends BaseApi
{
    /**
     * Returns a list of the Android apps that are available for the company identified in the path.
     * These apps have been uploaded to Adyen and can be installed or uninstalled on Android payment
     * terminals through [terminal actions](https://docs.adyen.com/point-of-sale/automating-terminal-
     * management/terminal-actions-api).
     *
     * To make this request, your API credential must have one of the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Android files read
     * * Management API—Android files read and write
     * * Management API—Terminal actions read
     * * Management API—Terminal actions read and write
     *
     * In the live environment, requests to this endpoint are subject to [rate limits](https://docs.adyen.
     * com/point-of-sale/automating-terminal-management#rate-limits-in-the-live-environment).
     *
     * @param string $companyId The unique identifier of the company account.
     * @param int|null $pageNumber The number of the page to fetch.
     * @param int|null $pageSize The number of items to have on a page, maximum 100. The default is
     *        20 items on a page.
     * @param string|null $packageName The package name that uniquely identifies the Android app.
     * @param int|null $versionCode The version number of the app.
     *
     * @return AndroidAppsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getCompaniesCompanyIdAndroidApps(
        string $companyId,
        ?int $pageNumber = null,
        ?int $pageSize = null,
        ?string $packageName = null,
        ?int $versionCode = null
    ): AndroidAppsResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/companies/{companyId}/androidApps')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId),
                QueryParam::init('pageNumber', $pageNumber),
                QueryParam::init('pageSize', $pageSize),
                QueryParam::init('packageName', $packageName),
                QueryParam::init('versionCode', $versionCode)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(AndroidAppsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Uploads an Android APK file to Adyen.
     * The maximum APK file size is 200 MB.
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Android files read and write
     *
     * In the live environment, requests to this endpoint are subject to [rate limits](https://docs.adyen.
     * com/point-of-sale/automating-terminal-management#rate-limits-in-the-live-environment).
     * >By choosing to upload, install, or run any third-party applications on an Adyen payment terminal,
     * you accept full responsibility and liability for any consequences of uploading, installing, or
     * running any such applications.
     *
     * @param string $companyId The unique identifier of the company account.
     *
     * @return UploadAndroidAppResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postCompaniesCompanyIdAndroidApps(string $companyId): UploadAndroidAppResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/companies/{companyId}/androidApps')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('companyId', $companyId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(UploadAndroidAppResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the details of the Android app identified in the path.
     * These apps have been uploaded to Adyen and can be installed or uninstalled on Android payment
     * terminals through [terminal actions](https://docs.adyen.com/point-of-sale/automating-terminal-
     * management/terminal-actions-api).
     *
     * To make this request, your API credential must have one of the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Android files read
     * * Management API—Android files read and write
     *
     * In the live environment, requests to this endpoint are subject to [rate limits](https://docs.adyen.
     * com/point-of-sale/automating-terminal-management#rate-limits-in-the-live-environment).
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $id The unique identifier of the app.
     *
     * @return AndroidApp Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getCompaniesCompanyIdAndroidAppsId(string $companyId, string $id): AndroidApp
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/companies/{companyId}/androidApps/{id}')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('companyId', $companyId), TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(AndroidApp::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Reuploads the Android app identified in the path.
     * To make this request, your API credential must have this [role](https://docs.adyen.com/development-
     * resources/api-credentials#api-permissions):
     * * Management API—Android files read and write
     *
     * In the live environment, requests to this endpoint are subject to [rate limits](https://docs.adyen.
     * com/point-of-sale/automating-terminal-management#rate-limits-in-the-live-environment).
     * >By choosing to upload, install, or run any third-party applications on an Adyen payment terminal,
     * you accept full responsibility and liability for any consequences of uploading, installing, or
     * running any such applications.
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $id The unique identifier of the app.
     *
     * @return ReprocessAndroidAppResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function patchCompaniesCompanyIdAndroidAppsId(string $companyId, string $id): ReprocessAndroidAppResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/companies/{companyId}/androidApps/{id}')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('companyId', $companyId), TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(ReprocessAndroidAppResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a list of the Android certificates that are available for the company identified in the path.
     * Typically, these certificates enable running apps on Android payment terminals. The certificates in
     * the list have been uploaded to Adyen and can be installed or uninstalled on Android terminals
     * through [terminal actions](https://docs.adyen.com/point-of-sale/automating-terminal-
     * management/terminal-actions-api).
     *
     * To make this request, your API credential must have one of the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Android files read
     * * Management API—Android files read and write
     * * Management API—Terminal actions read
     * * Management API—Terminal actions read and write
     *
     * In the live environment, requests to this endpoint are subject to [rate limits](https://docs.adyen.
     * com/point-of-sale/automating-terminal-management#rate-limits-in-the-live-environment).
     *
     * @param string $companyId The unique identifier of the company account.
     * @param int|null $pageNumber The number of the page to fetch.
     * @param int|null $pageSize The number of items to have on a page, maximum 100. The default is
     *        20 items on a page.
     * @param string|null $certificateName The name of the certificate.
     *
     * @return AndroidCertificatesResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getCompaniesCompanyIdAndroidCertificates(
        string $companyId,
        ?int $pageNumber = null,
        ?int $pageSize = null,
        ?string $certificateName = null
    ): AndroidCertificatesResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/companies/{companyId}/androidCertificates')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId),
                QueryParam::init('pageNumber', $pageNumber),
                QueryParam::init('pageSize', $pageSize),
                QueryParam::init('certificateName', $certificateName)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(AndroidCertificatesResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Uploads an Android Certificate file to Adyen.
     *
     * In the live environment, requests to this endpoint are subject to [rate limits](https://docs.adyen.
     * com/point-of-sale/automating-terminal-management#rate-limits-in-the-live-environment).
     *
     * @param string $companyId The unique identifier of the company account.
     *
     * @return UploadAndroidCertificateResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postCompaniesCompanyIdAndroidCertificates(string $companyId): UploadAndroidCertificateResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/companies/{companyId}/androidCertificates')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('companyId', $companyId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(UploadAndroidCertificateResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
