<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\RestServiceErrorException;
use AdyenLib\Models\GenerateApiKeyResponse;
use AdyenLib\Server;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class APIKeyMerchantLevelApi extends BaseApi
{
    /**
     * Returns a new API key for the API credential. You can use the new API key a few minutes after
     * generating it. The old API key stops working 24 hours after generating a new one.
     *
     * To make this request, your API credential must have the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—API credentials read and write
     *
     * @param string $merchantId The unique identifier of the merchant account.
     * @param string $apiCredentialId Unique identifier of the API credential.
     *
     * @return GenerateApiKeyResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postMerchantsMerchantIdApiCredentialsApiCredentialIdGenerateApiKey(
        string $merchantId,
        string $apiCredentialId
    ): GenerateApiKeyResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/merchants/{merchantId}/apiCredentials/{apiCredentialId}/generateApiKey'
        )
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('merchantId', $merchantId),
                TemplateParam::init('apiCredentialId', $apiCredentialId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(GenerateApiKeyResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
