<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\DefaultErrorResponseEntityException;
use AdyenLib\Models\AuthorisedCardUsers;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class AuthorizedCardUsersApi extends BaseApi
{
    /**
     * Returns the authorized users for a card.
     *
     * @param string $paymentInstrumentId
     *
     * @return AuthorisedCardUsers Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsers(
        string $paymentInstrumentId
    ): AuthorisedCardUsers {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/paymentInstruments/{paymentInstrumentId}/authorisedCardUsers'
        )->server(Server::DEFAULT13)->parameters(TemplateParam::init('paymentInstrumentId', $paymentInstrumentId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', DefaultErrorResponseEntityException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', DefaultErrorResponseEntityException::class))
            ->throwErrorOn('404', ErrorType::init('Not Found', DefaultErrorResponseEntityException::class))
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(AuthorisedCardUsers::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Assigns authorized users to a card. Users must have the **authorisedPaymentInstrumentUser**
     * capability to be able to use the card.
     *
     * @param string $paymentInstrumentId
     * @param AuthorisedCardUsers $body
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsers(
        string $paymentInstrumentId,
        AuthorisedCardUsers $body
    ): void {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/paymentInstruments/{paymentInstrumentId}/authorisedCardUsers'
        )
            ->server(Server::DEFAULT13)
            ->parameters(
                TemplateParam::init('paymentInstrumentId', $paymentInstrumentId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad request', DefaultErrorResponseEntityException::class))
            ->throwErrorOn('401', ErrorType::init('Unauthorized', DefaultErrorResponseEntityException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', DefaultErrorResponseEntityException::class))
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            );

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deletes the list of authorized users assigned to a card.
     *
     * @param string $paymentInstrumentId
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deletePaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsers(string $paymentInstrumentId): void
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/paymentInstruments/{paymentInstrumentId}/authorisedCardUsers'
        )->server(Server::DEFAULT13)->parameters(TemplateParam::init('paymentInstrumentId', $paymentInstrumentId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', DefaultErrorResponseEntityException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', DefaultErrorResponseEntityException::class));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates the list of authorized users for a card.
     *
     * >This request replaces all existing authorized users for the card.
     *
     * @param string $paymentInstrumentId
     * @param AuthorisedCardUsers $body
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function patchPaymentInstrumentsPaymentInstrumentIdAuthorisedCardUsers(
        string $paymentInstrumentId,
        AuthorisedCardUsers $body
    ): void {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::PATCH,
            '/paymentInstruments/{paymentInstrumentId}/authorisedCardUsers'
        )
            ->server(Server::DEFAULT13)
            ->parameters(
                TemplateParam::init('paymentInstrumentId', $paymentInstrumentId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad request', DefaultErrorResponseEntityException::class))
            ->throwErrorOn('401', ErrorType::init('Unauthorized', DefaultErrorResponseEntityException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', DefaultErrorResponseEntityException::class))
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            );

        $this->execute($_reqBuilder, $_resHandler);
    }
}
