<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\RestServiceErrorException;
use AdyenLib\Models\BalanceAccount;
use AdyenLib\Models\BalanceAccountInfo;
use AdyenLib\Models\BalanceAccountUpdateRequest;
use AdyenLib\Models\PaginatedPaymentInstrumentsResponse;
use AdyenLib\Models\TransactionRulesResponse;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class BalanceAccountsApi extends BaseApi
{
    /**
     * Creates a balance account that holds the funds of the associated account holder.
     *
     * @param BalanceAccountInfo|null $body
     *
     * @return BalanceAccount Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postBalanceAccounts(?BalanceAccountInfo $body = null): BalanceAccount
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/balanceAccounts')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(BalanceAccount::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a balance account and its balances for the default currency and other currencies with a non-
     * zero balance.
     *
     * @param string $id The unique identifier of the balance account.
     *
     * @return BalanceAccount Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getBalanceAccountsId(string $id): BalanceAccount
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/balanceAccounts/{id}')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(BalanceAccount::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates a balance account.
     *
     * @param string $id The unique identifier of the balance account.
     * @param BalanceAccountUpdateRequest|null $body
     *
     * @return BalanceAccount Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function patchBalanceAccountsId(string $id, ?BalanceAccountUpdateRequest $body = null): BalanceAccount
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/balanceAccounts/{id}')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('id', $id),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(BalanceAccount::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a paginated list of the payment instruments associated with a balance account.
     *
     * To fetch multiple pages, use the query parameters.For example, to limit the page to 3 payment
     * instruments which are in active status and to skip the first 6, use
     * `/balanceAccounts/{id}/paymentInstruments?limit=3&offset=6&status=active`.
     *
     * @param string $id The unique identifier of the balance account.
     * @param int|null $offset The number of items that you want to skip.
     * @param int|null $limit The number of items returned per page, maximum 100 items. By default,
     *        the response returns 10 items per page.
     * @param string|null $status The status of the payment instruments that you want to get. By
     *        default, the response includes payment instruments with any status.
     *
     * @return PaginatedPaymentInstrumentsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getBalanceAccountsIdPaymentInstruments(
        string $id,
        ?int $offset = null,
        ?int $limit = null,
        ?string $status = null
    ): PaginatedPaymentInstrumentsResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/balanceAccounts/{id}/paymentInstruments')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('id', $id),
                QueryParam::init('offset', $offset),
                QueryParam::init('limit', $limit),
                QueryParam::init('status', $status)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(PaginatedPaymentInstrumentsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a list of transaction rules associated with a balance account.
     *
     * @param string $id The unique identifier of the balance account.
     *
     * @return TransactionRulesResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getBalanceAccountsIdTransactionRules(string $id): TransactionRulesResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/balanceAccounts/{id}/transactionRules')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(TransactionRulesResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
