<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\DefaultErrorResponseEntityException;
use AdyenLib\Models\CompanyBalances;
use AdyenLib\Models\MerchantBalance;
use AdyenLib\Server;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class BalancesOverviewApi extends BaseApi
{
    /**
     * Returns an array with details about the balances available for all merchant accounts under your
     * company account. For each merchant account, the response returns the following:
     *
     *
     * * **Available funds**: The funds in the merchant account that have been settled and are available
     * for use.
     *
     *
     * * **Pending balance**: The funds in the merchant account that have not been settled yet.
     *
     *
     * * **Next payout amount**: The amount that will be settled to your bank account with the next payout.
     *
     *
     * * **Reserve**: The available amount to cover refunds, payouts, chargebacks, and other operational
     * expenses that cannot be covered by your in-process funds.
     *
     *
     * * **Deposit**: The amount withheld by Adyen to cover potential losses and liabilities due to payment
     * processing.
     *
     *
     * @param string $companyAccountCode The unique identifier of your company account.
     * @param string $currency The currency for which you want a balances overview.
     *
     * @return CompanyBalances Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getBalanceOverviewCompaniesCompanyAccountCodeBalances(
        string $companyAccountCode,
        string $currency
    ): CompanyBalances {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/balanceOverview/companies/{companyAccountCode}/balances'
        )
            ->server(Server::DEFAULT11)
            ->parameters(
                TemplateParam::init('companyAccountCode', $companyAccountCode),
                QueryParam::init('currency', $currency)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - Authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Content - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(CompanyBalances::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns an overview of the different balances available for the merchant account. This includes
     * details about the following:
     *
     *
     * * **Available funds**: The funds in the merchant account that have been settled and are available
     * for use.
     *
     *
     * * **Pending balance**: The funds in the merchant account that have not been settled yet.
     *
     *
     * * **Next payout amount**: The amount that will be settled to your bank account with the next payout.
     *
     *
     * * **Reserve**: The available amount to cover refunds, payouts, chargebacks, and other operational
     * expenses that cannot be covered by your in-process funds.
     *
     *
     * * **Deposit**: The amount withheld by Adyen to cover potential losses and liabilities due to payment
     * processing.
     *
     *
     * @param string $merchantAccountCode The unique identifier of your merchant account.
     * @param string $currency The currency for which you want a balances overview.
     *
     * @return MerchantBalance Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getBalanceOverviewMerchantsMerchantAccountCodeBalances(
        string $merchantAccountCode,
        string $currency
    ): MerchantBalance {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/balanceOverview/merchants/{merchantAccountCode}/balances'
        )
            ->server(Server::DEFAULT11)
            ->parameters(
                TemplateParam::init('merchantAccountCode', $merchantAccountCode),
                QueryParam::init('currency', $currency)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - Authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Content - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(MerchantBalance::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
