<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\RestServiceErrorException;
use AdyenLib\Models\CapitalGrant;
use AdyenLib\Models\CapitalGrantInfo;
use AdyenLib\Models\CapitalGrants;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class CapitalApi extends BaseApi
{
    /**
     * Returns a list of grants with status and outstanding balances.
     *
     * @deprecated
     *
     * @param string|null $counterpartyAccountHolderId The counterparty account holder id.
     *
     * @return CapitalGrants Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getGrants(?string $counterpartyAccountHolderId = null): CapitalGrants
    {
        trigger_error('Method ' . __METHOD__ . ' is deprecated.', E_USER_DEPRECATED);

        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/grants')
            ->server(Server::DEFAULT14)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(QueryParam::init('counterpartyAccountHolderId', $counterpartyAccountHolderId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('Not Found - the payment was not found', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(CapitalGrants::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Requests the payout of the selected grant offer.
     *
     * @deprecated
     *
     * @param string|null $idempotencyKey A unique identifier for the message with a maximum of 64
     *        characters (we recommend a UUID).
     * @param CapitalGrantInfo|null $body
     *
     * @return CapitalGrant Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postGrants(?string $idempotencyKey = null, ?CapitalGrantInfo $body = null): CapitalGrant
    {
        trigger_error('Method ' . __METHOD__ . ' is deprecated.', E_USER_DEPRECATED);

        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/grants')
            ->server(Server::DEFAULT14)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('Idempotency-Key', $idempotencyKey),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('Not Found - the payment was not found', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(CapitalGrant::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the details of a capital account specified in the path.
     *
     * @deprecated
     *
     * @param string $id The unique identifier of the grant.
     *
     * @return CapitalGrant Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getGrantsId(string $id): CapitalGrant
    {
        trigger_error('Method ' . __METHOD__ . ' is deprecated.', E_USER_DEPRECATED);

        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/grants/{id}')
            ->server(Server::DEFAULT14)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('Not Found - the payment was not found', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(CapitalGrant::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
