<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\RestServiceErrorException;
use AdyenLib\Models\PaginatedGetCardOrderItemResponse;
use AdyenLib\Models\PaginatedGetCardOrderResponse;
use AdyenLib\Server;
use AdyenLib\Utils\DateTimeHelper;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class CardOrdersApi extends BaseApi
{
    /**
     * Returns a paginated list of card orders.
     *
     * @param string|null $id The unique identifier of the card order.
     * @param string|null $cardManufacturingProfileId The unique identifier of the card manufacturer
     *        profile.
     * @param string|null $status The status of the card order.
     * @param string|null $txVariantCode The unique code of the card manufacturer profile. Possible
     *        values: **mcmaestro**, **mc**, **visa**, **mcdebit**.
     * @param \DateTime|null $createdSince Only include card orders that have been created on or
     *        after this point in time. The value must be in ISO 8601 format. For example, **2021-
     *        05-30T15:07:40Z**.
     * @param \DateTime|null $createdUntil Only include card orders that have been created on or
     *        before this point in time. The value must be in ISO 8601 format. For example, **2021-
     *        05-30T15:07:40Z**.
     * @param \DateTime|null $lockedSince Only include card orders that have been locked on or after
     *        this point in time. The value must be in ISO 8601 format. For example, **2021-05-
     *        30T15:07:40Z**.
     * @param \DateTime|null $lockedUntil Only include card orders that have been locked on or
     *        before this point in time. The value must be in ISO 8601 format. For example, **2021-
     *        05-30T15:07:40Z**.
     * @param string|null $serviceCenter The service center at which the card is issued. The value
     *        is case-sensitive.
     * @param int|null $offset Specifies the position of an element in a list of card orders. The
     *        response includes a list of card orders that starts at the specified offset.
     *
     *        **Default:** 0, which means that the response contains all the elements in the list
     *        of card orders.
     * @param int|null $limit The number of card orders returned per page. **Default:** 10.
     *
     * @return PaginatedGetCardOrderResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getCardorders(
        ?string $id = null,
        ?string $cardManufacturingProfileId = null,
        ?string $status = null,
        ?string $txVariantCode = null,
        ?\DateTime $createdSince = null,
        ?\DateTime $createdUntil = null,
        ?\DateTime $lockedSince = null,
        ?\DateTime $lockedUntil = null,
        ?string $serviceCenter = null,
        ?int $offset = null,
        ?int $limit = null
    ): PaginatedGetCardOrderResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/cardorders')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(
                QueryParam::init('id', $id),
                QueryParam::init('cardManufacturingProfileId', $cardManufacturingProfileId),
                QueryParam::init('status', $status),
                QueryParam::init('txVariantCode', $txVariantCode),
                QueryParam::init('createdSince', $createdSince)
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('createdUntil', $createdUntil)
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('lockedSince', $lockedSince)
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('lockedUntil', $lockedUntil)
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('serviceCenter', $serviceCenter),
                QueryParam::init('offset', $offset),
                QueryParam::init('limit', $limit)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(PaginatedGetCardOrderResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the item list of a specific card order.
     *
     * @param string $id The unique identifier of the card order.
     * @param int|null $offset Specifies the position of an element in a list of card orders. The
     *        response includes a list of card order items that starts at the specified offset.
     *
     *        **Default:** 0, which means that the response contains all the elements in the list
     *        of card order items.
     * @param int|null $limit The number of card order items returned per page. **Default:** 10.
     *
     * @return PaginatedGetCardOrderItemResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getCardordersIdItems(
        string $id,
        ?int $offset = null,
        ?int $limit = null
    ): PaginatedGetCardOrderItemResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/cardorders/{id}/items')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('id', $id),
                QueryParam::init('offset', $offset),
                QueryParam::init('limit', $limit)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(PaginatedGetCardOrderItemResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
