<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\RestServiceErrorException;
use AdyenLib\Models\GenerateClientKeyResponse;
use AdyenLib\Server;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class ClientKeyCompanyLevelApi extends BaseApi
{
    /**
     * Returns a new [client key](https://docs.adyen.com/development-resources/client-side-
     * authentication#how-it-works) for the API credential identified in the path. You can use the new
     * client key a few minutes after generating it. The old client key stops working 24 hours after
     * generating a new one.
     *
     * To make this request, your API credential must have the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—API credentials read and write
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $apiCredentialId Unique identifier of the API credential.
     *
     * @return GenerateClientKeyResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postCompaniesCompanyIdApiCredentialsApiCredentialIdGenerateClientKey(
        string $companyId,
        string $apiCredentialId
    ): GenerateClientKeyResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/companies/{companyId}/apiCredentials/{apiCredentialId}/generateClientKey'
        )
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId),
                TemplateParam::init('apiCredentialId', $apiCredentialId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(GenerateClientKeyResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
