<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\RestServiceErrorException;
use AdyenLib\Models\BalanceSweepConfigurationsResponse;
use AdyenLib\Models\CreateSweepConfigurationV2;
use AdyenLib\Models\SweepConfigurationV2;
use AdyenLib\Models\UpdateSweepConfigurationV2;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class CustomPayoutSchedulesSweepsApi extends BaseApi
{
    /**
     * Returns a list of the sweeps configured for a balance account.
     *
     * To fetch multiple pages, use the query parameters. For example, to limit the page to 5 sweeps and to
     * skip the first 10, use `/balanceAccounts/{balanceAccountId}/sweeps?limit=5&offset=10`.
     *
     * @param string $balanceAccountId The unique identifier of the balance account.
     * @param int|null $offset The number of items that you want to skip.
     * @param int|null $limit The number of items returned per page, maximum 100 items. By default,
     *        the response returns 10 items per page.
     *
     * @return BalanceSweepConfigurationsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getBalanceAccountsBalanceAccountIdSweeps(
        string $balanceAccountId,
        ?int $offset = null,
        ?int $limit = null
    ): BalanceSweepConfigurationsResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/balanceAccounts/{balanceAccountId}/sweeps')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('balanceAccountId', $balanceAccountId),
                QueryParam::init('offset', $offset),
                QueryParam::init('limit', $limit)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(BalanceSweepConfigurationsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates a sweep that results in moving funds from or to a balance account.
     *
     * A sweep pulls in or pushes out funds based on a defined schedule, amount, currency, and a source or
     * a destination.
     *
     * @param string $balanceAccountId The unique identifier of the balance account.
     * @param CreateSweepConfigurationV2|null $body
     *
     * @return SweepConfigurationV2 Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postBalanceAccountsBalanceAccountIdSweeps(
        string $balanceAccountId,
        ?CreateSweepConfigurationV2 $body = null
    ): SweepConfigurationV2 {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/balanceAccounts/{balanceAccountId}/sweeps')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('balanceAccountId', $balanceAccountId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(SweepConfigurationV2::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a sweep.
     *
     * @param string $balanceAccountId The unique identifier of the balance account.
     * @param string $sweepId The unique identifier of the sweep.
     *
     * @return SweepConfigurationV2 Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getBalanceAccountsBalanceAccountIdSweepsSweepId(
        string $balanceAccountId,
        string $sweepId
    ): SweepConfigurationV2 {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/balanceAccounts/{balanceAccountId}/sweeps/{sweepId}'
        )
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('balanceAccountId', $balanceAccountId),
                TemplateParam::init('sweepId', $sweepId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(SweepConfigurationV2::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deletes a sweep for a balance account.
     *
     * @param string $balanceAccountId The unique identifier of the balance account.
     * @param string $sweepId The unique identifier of the sweep.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteBalanceAccountsBalanceAccountIdSweepsSweepId(string $balanceAccountId, string $sweepId): void
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/balanceAccounts/{balanceAccountId}/sweeps/{sweepId}'
        )
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('balanceAccountId', $balanceAccountId),
                TemplateParam::init('sweepId', $sweepId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            );

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates a sweep. When updating a sweep resource, note that if a request parameter is not provided,
     * the parameter is left unchanged.
     *
     * @param string $balanceAccountId The unique identifier of the balance account.
     * @param string $sweepId The unique identifier of the sweep.
     * @param UpdateSweepConfigurationV2|null $body
     *
     * @return SweepConfigurationV2 Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function patchBalanceAccountsBalanceAccountIdSweepsSweepId(
        string $balanceAccountId,
        string $sweepId,
        ?UpdateSweepConfigurationV2 $body = null
    ): SweepConfigurationV2 {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::PATCH,
            '/balanceAccounts/{balanceAccountId}/sweeps/{sweepId}'
        )
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('balanceAccountId', $balanceAccountId),
                TemplateParam::init('sweepId', $sweepId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(SweepConfigurationV2::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
