<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\DefaultErrorResponseEntityException;
use AdyenLib\Models\ListMandatesResponse;
use AdyenLib\Models\Mandate1;
use AdyenLib\Models\MandateUpdate;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class DirectDebitMandatesApi extends BaseApi
{
    /**
     * Returns a list of all [direct debit mandates](https://docs.adyen.com/business-accounts/accept-direct-
     * debits-uk) created for a business account.
     *
     * @param string|null $balanceAccountId The unique identifier of the balance account linked to
     *        the payment instrument.
     * @param string|null $paymentInstrumentId The unique identifier of the payment instrument
     *        linked to the mandate.
     * @param string|null $cursor The pagination cursor returned in a previous GET `/mandates`
     *        request.
     *
     * @return ListMandatesResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getMandates(
        ?string $balanceAccountId = null,
        ?string $paymentInstrumentId = null,
        ?string $cursor = null
    ): ListMandatesResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/mandates')
            ->server(Server::DEFAULT13)
            ->parameters(
                QueryParam::init('balanceAccountId', $balanceAccountId),
                QueryParam::init('paymentInstrumentId', $paymentInstrumentId),
                QueryParam::init('cursor', $cursor)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(ListMandatesResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the details of the specified [direct debit mandate](https://docs.adyen.com/business-
     * accounts/accept-direct-debits-uk).
     *
     * @param string $mandateId The unique identifier of the mandate.
     *
     * @return Mandate1 Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getMandatesMandateId(string $mandateId): Mandate1
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/mandates/{mandateId}')
            ->server(Server::DEFAULT13)
            ->parameters(TemplateParam::init('mandateId', $mandateId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('The mandate was not found.', DefaultErrorResponseEntityException::class)
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(Mandate1::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Amend the specified [direct debit mandate](https://docs.adyen.com/business-accounts/accept-direct-
     * debits-uk).
     *
     * @param string $mandateId The unique identifier of the mandate.
     * @param MandateUpdate $body
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function patchMandatesMandateId(string $mandateId, MandateUpdate $body): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/mandates/{mandateId}')
            ->server(Server::DEFAULT13)
            ->parameters(
                TemplateParam::init('mandateId', $mandateId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('The mandate was not found', DefaultErrorResponseEntityException::class)
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            );

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Cancel a specified [direct debit mandate](https://docs.adyen.com/business-accounts/accept-direct-
     * debits-uk).
     *
     * @param string $mandateId The unique identifier of the mandate.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postMandatesMandateIdCancel(string $mandateId): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/mandates/{mandateId}/cancel')
            ->server(Server::DEFAULT13)
            ->parameters(TemplateParam::init('mandateId', $mandateId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('The mandate was not found.', DefaultErrorResponseEntityException::class)
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            );

        $this->execute($_reqBuilder, $_resHandler);
    }
}
