<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\DefaultErrorResponseEntityException;
use AdyenLib\Models\AttachDocumentResponse;
use AdyenLib\Models\DisputeAttachment;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class DisputeAttachmentsApi extends BaseApi
{
    /**
     * Get a list of attachments associated with a dispute ID.
     *
     * @param string $disputeId The unique identifier of the raised dispute.
     *
     * @return DisputeAttachment[] Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getDisputesDisputeIdAttachments(string $disputeId): array
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/disputes/{disputeId}/attachments')
            ->server(Server::DEFAULT23)
            ->parameters(TemplateParam::init('disputeId', $disputeId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init('Authentication required.', DefaultErrorResponseEntityException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('A request validation error.', DefaultErrorResponseEntityException::class)
            )
            ->type(DisputeAttachment::class, 1);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Add supporting information as an attachment for the raised dispute. Upload receipts, communication,
     * or any other documentation to support the dispute.
     *
     * @param string $disputeId The unique identifier of the raised dispute.
     * @param DisputeAttachment $body
     *
     * @return AttachDocumentResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postDisputesDisputeIdAttachments(
        string $disputeId,
        DisputeAttachment $body
    ): AttachDocumentResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/disputes/{disputeId}/attachments')
            ->server(Server::DEFAULT23)
            ->parameters(
                TemplateParam::init('disputeId', $disputeId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init('Authentication required.', DefaultErrorResponseEntityException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('A request validation error.', DefaultErrorResponseEntityException::class)
            )
            ->type(AttachDocumentResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Removes the attachment from the raised dispute. Adyen may keep this file for compliance purposes.
     *
     * @param string $disputeId The unique identifier of the raised dispute.
     * @param string $attachmentId The unique identifier of the attachment.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteDisputesDisputeIdAttachmentsAttachmentId(string $disputeId, string $attachmentId): void
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/disputes/{disputeId}/attachments/{attachmentId}'
        )
            ->server(Server::DEFAULT23)
            ->parameters(
                TemplateParam::init('disputeId', $disputeId),
                TemplateParam::init('attachmentId', $attachmentId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init('Authentication required.', DefaultErrorResponseEntityException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('A request validation error.', DefaultErrorResponseEntityException::class)
            );

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Search for a single attachment, providing the specific dispute ID and attachment ID.
     *
     * @param string $disputeId The unique identifier of the raised dispute.
     * @param string $attachmentId The unique identifier of the attachment.
     *
     * @return DisputeAttachment Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getDisputesDisputeIdAttachmentsAttachmentId(
        string $disputeId,
        string $attachmentId
    ): DisputeAttachment {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/disputes/{disputeId}/attachments/{attachmentId}'
        )
            ->server(Server::DEFAULT23)
            ->parameters(
                TemplateParam::init('disputeId', $disputeId),
                TemplateParam::init('attachmentId', $attachmentId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init('Authentication required.', DefaultErrorResponseEntityException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('A request validation error.', DefaultErrorResponseEntityException::class)
            )
            ->type(DisputeAttachment::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
