<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\ServiceErrorError1Exception;
use AdyenLib\Models\Document;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class DocumentsApi extends BaseApi
{
    /**
     * Uploads a document for verification checks.
     *
     * Adyen uses the information from the [legal entity](https://docs.adyen.com/api-
     * explorer/#/legalentity/latest/post/legalEntities) to run automated verification checks. If these
     * checks fail, you will be notified to provide additional documents.
     *
     * You should only upload documents when Adyen requests additional information for the legal entity.
     *
     * >You can upload a maximum of 15 pages for photo IDs.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string|null $xRequestedVerificationCode Use a suberror code as your requested
     *        verification code. You can include one code at a time in your request header.
     *        Requested verification codes can only be used in your test environment.
     * @param Document|null $body
     *
     * @return Document Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postDocuments(?string $xRequestedVerificationCode = null, ?Document $body = null): Document
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/documents')
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('x-requested-verification-code', $xRequestedVerificationCode),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(Document::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a document.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The unique identifier of the document.
     * @param bool|null $skipContent Do not load document content while fetching the document.
     *
     * @return Document Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getDocumentsId(string $id, ?bool $skipContent = null): Document
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/documents/{id}')
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('id', $id), QueryParam::init('skipContent', $skipContent));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(Document::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deletes a document.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The unique identifier of the document to be deleted.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteDocumentsId(string $id): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/documents/{id}')
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            );

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates a document.
     *
     * >You can upload a maximum of 15 pages for photo IDs.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The unique identifier of the document to be updated.
     * @param string|null $xRequestedVerificationCode Use the requested verification code 0_0001 to
     *        resolve any suberrors associated with the document. Requested verification codes can
     *        only be used in your test environment.
     * @param Document|null $body
     *
     * @return Document Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function patchDocumentsId(
        string $id,
        ?string $xRequestedVerificationCode = null,
        ?Document $body = null
    ): Document {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/documents/{id}')
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('id', $id),
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('x-requested-verification-code', $xRequestedVerificationCode),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(Document::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
