<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\DefaultErrorResponseEntityException;
use AdyenLib\Models\CampaignStatusTransitionEnum;
use AdyenLib\Models\DonationCampaign1;
use AdyenLib\Models\DonationCampaignRequest;
use AdyenLib\Models\DonationCampaignUpdate;
use AdyenLib\Models\ListDonationCampaignsResponse;
use AdyenLib\Models\ListNonprofitsRequest;
use AdyenLib\Models\ListNonprofitsResponse;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class DonationCampaignsApi extends BaseApi
{
    /**
     * Creates a new donation campaign, to give shoppers the option to donate to a nonprofit organization
     * when making a payment. A campaign can be for online payments, in-person payments, or both online and
     * in-person payments.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Campaign Management read and write
     *
     * @param string $companyId The unique identifier of the company account.
     * @param DonationCampaignRequest|null $body
     *
     * @return DonationCampaign1 Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postCompaniesCompanyIdCampaignManagement(
        string $companyId,
        ?DonationCampaignRequest $body = null
    ): DonationCampaign1 {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/companies/{companyId}/campaignManagement')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(DonationCampaign1::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a paginated list of donation campaigns associated with the account holder specified in the
     * path. You can filter the list by campaign status.
     *
     * To make this request, your API credential must have one of the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Campaign Management read
     * * Management API—Campaign Management read and write
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $accountHolderId The unique identifier of the account holder.
     * @param string|null $status The campaign status to return campaigns that match. Allowed
     *        values: **inactive**, **active**, or **ended**.
     * @param int|null $pageNumber The number of the page to fetch.
     * @param int|null $pageSize The number of items to have on a page, maximum 100. The default is
     *        10 items on a page.
     *
     * @return ListDonationCampaignsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getCompaniesCompanyIdCampaignManagementAccountHoldersAccountHolderId(
        string $companyId,
        string $accountHolderId,
        ?string $status = null,
        ?int $pageNumber = 1,
        ?int $pageSize = 10
    ): ListDonationCampaignsResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/companies/{companyId}/campaignManagement/accountHolders/{accountHolderId}'
        )
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId),
                TemplateParam::init('accountHolderId', $accountHolderId),
                QueryParam::init('status', $status),
                QueryParam::init('pageNumber', $pageNumber),
                QueryParam::init('pageSize', $pageSize)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(ListDonationCampaignsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Removes the donation campaign specified in the path. This request is only allowed if the campaign
     * has the status **inactive**.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Campaign Management read and write
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $donationCampaignId The unique identifier of the donation campaign to be
     *        deleted.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteCompaniesCompanyIdCampaignManagementDonationCampaignId(
        string $companyId,
        string $donationCampaignId
    ): void {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/companies/{companyId}/campaignManagement/{donationCampaignId}'
        )
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId),
                TemplateParam::init('donationCampaignId', $donationCampaignId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            );

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates the properties of the donation campaign specified in the path. Note the following
     * restrictions:
     *
     * * You cannot use a PATCH request to update the campaign status. To activate or end a campaign, make
     * a POST request to the `/campaignManagement/{campaignId}/status/{status}` endpoint.
     * * You get a validation error if you add account holders that are not compatible with the nonprofit.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Campaign Management read and write
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $donationCampaignId The unique identifier of the donation campaign to be
     *        updated.
     * @param DonationCampaignUpdate|null $body
     *
     * @return DonationCampaign1 Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function patchCompaniesCompanyIdCampaignManagementDonationCampaignId(
        string $companyId,
        string $donationCampaignId,
        ?DonationCampaignUpdate $body = null
    ): DonationCampaign1 {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::PATCH,
            '/companies/{companyId}/campaignManagement/{donationCampaignId}'
        )
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId),
                TemplateParam::init('donationCampaignId', $donationCampaignId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(DonationCampaign1::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Starts or stops the donation campaign specified in the path, by providing a path parameter.
     * Use the path parameter **activate** to start an inactive campaign, or **end** to stop an active
     * campaign. Other status transitions are not allowed.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Campaign Management read and write
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $donationCampaignId The unique identifier of the donation campaign to activate
     *        or end.
     * @param string $status The desired status change. Possible values: **activate** or **end**.
     *
     * @return DonationCampaign1 Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postCompaniesCompanyIdCampaignManagementDonationCampaignIdStatusStatus(
        string $companyId,
        string $donationCampaignId,
        string $status
    ): DonationCampaign1 {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/companies/{companyId}/campaignManagement/{donationCampaignId}/status/{status}'
        )
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId),
                TemplateParam::init('donationCampaignId', $donationCampaignId),
                TemplateParam::init('status', $status)
                    ->serializeBy([CampaignStatusTransitionEnum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(DonationCampaign1::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a list of supported nonprofit organizations to choose from when creating a donation campaign.
     * The list only contains nonprofits that are compatible with all the account holders specified in the
     * request.
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string|null $searchTerm A query to return nonprofit organizations for, maximum 100
     *        characters. For example, `&searchTerm=clean%20water`.
     * @param int|null $pageNumber The number of the page to fetch.
     * @param int|null $pageSize The number of items to have on a page, maximum 100. The default is
     *        10 items on a page.
     * @param string[]|null $goal One or more United Nations Sustainable Development Goals to return
     *        nonprofit organizations for. Format: `unsdg_<number>`, for example,
     *        `&goal=unsdg_6&goal=unsdg_2`.
     * @param ListNonprofitsRequest|null $body
     *
     * @return ListNonprofitsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postCompaniesCompanyIdNonprofits(
        string $companyId,
        ?string $searchTerm = null,
        ?int $pageNumber = null,
        ?int $pageSize = 10,
        ?array $goal = null,
        ?ListNonprofitsRequest $body = null
    ): ListNonprofitsResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/companies/{companyId}/nonprofits')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId),
                HeaderParam::init('Content-Type', 'application/json'),
                QueryParam::init('searchTerm', $searchTerm),
                QueryParam::init('pageNumber', $pageNumber),
                QueryParam::init('pageSize', $pageSize),
                QueryParam::init('goal', $goal),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(ListNonprofitsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
