<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\DefaultErrorResponseEntityException;
use AdyenLib\Models\CalculatedGrantOffer;
use AdyenLib\Models\CalculateGrantOfferRequest;
use AdyenLib\Models\CreateGrantOfferRequest;
use AdyenLib\Models\FinancingTypeEnum;
use AdyenLib\Models\GetDynamicOffersResponse;
use AdyenLib\Models\GrantOffer1;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class DynamicOffersApi extends BaseApi
{
    /**
     * Returns a list of all [dynamic offers](https://docs.adyen.com/capital/get-grant-offers/dynamic-
     * offers/) available for `accountHolderId` specified as a query parameter.
     *
     * @param string $accountHolderId The unique identifier of the account holder that the dynamic
     *        offer is for.
     * @param string|null $financingType The type of financing that the offer is for. If the value
     *        is not specified, returns all available types.
     *
     *        Possible values: **businessFinancing**
     *
     * @return GetDynamicOffersResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getDynamicOffers(string $accountHolderId, ?string $financingType = null): GetDynamicOffersResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/dynamicOffers')
            ->server(Server::DEFAULT15)
            ->parameters(
                QueryParam::init('accountHolderId', $accountHolderId),
                QueryParam::init('financingType', $financingType)
                    ->serializeBy([FinancingTypeEnum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(GetDynamicOffersResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Calculates a preliminary offer for the financing amount that the user selected from a [dynamic
     * offer](https://docs.adyen.com/capital/get-grant-offers/dynamic-offers/). The preliminary offer is
     * for informational purposes only and cannot be used to initiate a grant.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 120 requests per minute.
     *
     * - Test environments: 120 requests per minute.
     *
     *
     *
     * @param string $id The unique identifier of the dynamic offer from which the user selected the
     *        financing amount.
     * @param CalculateGrantOfferRequest|null $body
     *
     * @return CalculatedGrantOffer Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postDynamicOffersIdCalculate(
        string $id,
        ?CalculateGrantOfferRequest $body = null
    ): CalculatedGrantOffer {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/dynamicOffers/{id}/calculate')
            ->server(Server::DEFAULT15)
            ->parameters(
                TemplateParam::init('id', $id),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(CalculatedGrantOffer::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates a static offer for the financing amount that the user selected from the [dynamic
     * offer](https://docs.adyen.com/capital/get-grant-offers/dynamic-offers/).
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 30 requests per minute.
     *
     * - Test environments: 30 requests per minute.
     *
     *
     *
     * @param string $id The unique identifier of the dynamic offer from which the user selected the
     *        financing amount.
     * @param CreateGrantOfferRequest|null $body
     *
     * @return GrantOffer1 Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postDynamicOffersIdGrantOffer(string $id, ?CreateGrantOfferRequest $body = null): GrantOffer1
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/dynamicOffers/{id}/grantOffer')
            ->server(Server::DEFAULT15)
            ->parameters(
                TemplateParam::init('id', $id),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(GrantOffer1::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
