<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\DefaultErrorResponseEntityException;
use AdyenLib\Models\CapitalGrantInfo;
use AdyenLib\Models\Disbursement;
use AdyenLib\Models\DisbursementInfoUpdate;
use AdyenLib\Models\Disbursements;
use AdyenLib\Models\Grant;
use AdyenLib\Models\Grants;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class GrantsApi extends BaseApi
{
    /**
     * Returns a list of all the grants of a specific account holder.
     *
     * @param string $counterpartyAccountHolderId The unique identifier of the account holder that
     *        received the grants.
     *
     * @return Grants Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getGrants(string $counterpartyAccountHolderId): Grants
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/grants')
            ->server(Server::DEFAULT15)
            ->parameters(QueryParam::init('counterpartyAccountHolderId', $counterpartyAccountHolderId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not Found - The entity was not found.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(Grants::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Make a request for a grant on behalf of an account holder.
     *
     * @param CapitalGrantInfo|null $body
     *
     * @return Grant Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postGrants(?CapitalGrantInfo $body = null): Grant
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/grants')
            ->server(Server::DEFAULT15)
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(Grant::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the details of the specified grant.
     *
     * @param string $grantId The unique identifier of the grant reference.
     *
     * @return Grant Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getGrantsGrantId(string $grantId): Grant
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/grants/{grantId}')
            ->server(Server::DEFAULT15)
            ->parameters(TemplateParam::init('grantId', $grantId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not Found - The entity was not found.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(Grant::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the disbursements of a specified grant.
     *
     * @param string $grantId The unique identifier of the grant reference.
     *
     * @return Disbursements Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getGrantsGrantIdDisbursements(string $grantId): Disbursements
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/grants/{grantId}/disbursements')
            ->server(Server::DEFAULT15)
            ->parameters(TemplateParam::init('grantId', $grantId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not Found - The entity was not found.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(Disbursements::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the details of a disbursement specified in the path.
     *
     * @param string $grantId The unique identifier of the grant reference.
     * @param string $disbursementId The unique identifier of the disbursement.
     *
     * @return Disbursement Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getGrantsGrantIdDisbursementsDisbursementId(string $grantId, string $disbursementId): Disbursement
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/grants/{grantId}/disbursements/{disbursementId}'
        )
            ->server(Server::DEFAULT15)
            ->parameters(
                TemplateParam::init('grantId', $grantId),
                TemplateParam::init('disbursementId', $disbursementId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not Found - The entity was not found.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(Disbursement::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update the percentage of your user's net income that is deducted for repaying the grant.
     *
     * @param string $grantId The unique identifier of the grant reference.
     * @param string $disbursementId The unique identifier of the disbursement.
     * @param DisbursementInfoUpdate $body
     *
     * @return Disbursement Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function patchGrantsGrantIdDisbursementsDisbursementId(
        string $grantId,
        string $disbursementId,
        DisbursementInfoUpdate $body
    ): Disbursement {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::PATCH,
            '/grants/{grantId}/disbursements/{disbursementId}'
        )
            ->server(Server::DEFAULT15)
            ->parameters(
                TemplateParam::init('grantId', $grantId),
                TemplateParam::init('disbursementId', $disbursementId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not Found - The entity was not found.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(Disbursement::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
