<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\DefaultErrorResponseEntityException;
use AdyenLib\Exceptions\RestServiceErrorException;
use AdyenLib\Models\GrantOffer;
use AdyenLib\Models\GrantOffer1;
use AdyenLib\Models\GrantOffers;
use AdyenLib\Server;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class GrantOffersApi extends BaseApi
{
    /**
     * Returns a list of all [grant offers](https://docs.adyen.com/platforms/capital#grant-offers)
     * available for `accountHolderId` specified as a query parameter.
     *
     * @deprecated
     *
     * @param string $accountHolderId The unique identifier of the grant account.
     *
     * @return GrantOffers Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getGrantOffers(string $accountHolderId): GrantOffers
    {
        trigger_error('Method ' . __METHOD__ . ' is deprecated.', E_USER_DEPRECATED);

        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/grantOffers')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(QueryParam::init('accountHolderId', $accountHolderId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(GrantOffers::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the details of a single grant offer.
     *
     * @deprecated
     *
     * @param string $grantOfferId The unique identifier of the grant offer.
     *
     * @return GrantOffer Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getGrantOffersGrantOfferId(string $grantOfferId): GrantOffer
    {
        trigger_error('Method ' . __METHOD__ . ' is deprecated.', E_USER_DEPRECATED);

        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/grantOffers/{grantOfferId}')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('grantOfferId', $grantOfferId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(GrantOffer::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a list of all [static offers](https://docs.adyen.com/capital/get-grant-offers/static-offers)
     * available for `accountHolderId` specified as a query parameter. This also includes static offers
     * created for financing amounts that the user selected from [dynamic offers](https://docs.adyen.
     * com/capital/get-grant-offers/dynamic-offers/).
     *
     * @param string $accountHolderId The unique identifier of the account holder for which you want
     *        to get the available static offers.
     *
     * @return GrantOffers Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getGrantOffers1(string $accountHolderId): GrantOffers
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/grantOffers')
            ->server(Server::DEFAULT15)
            ->parameters(QueryParam::init('accountHolderId', $accountHolderId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not Found - The entity was not found.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(GrantOffers::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the details of the specified static offer.
     *
     * @param string $id The unique identifier of the static offer.
     *
     * @return GrantOffer1 Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getGrantOffersId(string $id): GrantOffer1
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/grantOffers/{id}')
            ->server(Server::DEFAULT15)
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not Found - The entity was not found.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(GrantOffer1::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
