<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\DefaultErrorResponseEntityException;
use AdyenLib\Exceptions\RestServiceErrorException;
use AdyenLib\Models\CapitalGrantAccount;
use AdyenLib\Models\GrantAccount;
use AdyenLib\Server;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class GrantAccountsApi extends BaseApi
{
    /**
     * Returns the details of the [grant account](https://docs.adyen.com/platforms/capital#grant-account).
     *
     * @deprecated
     *
     * @param string $id The unique identifier of the grant account.
     *
     * @return CapitalGrantAccount Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getGrantAccountsId(string $id): CapitalGrantAccount
    {
        trigger_error('Method ' . __METHOD__ . ' is deprecated.', E_USER_DEPRECATED);

        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/grantAccounts/{id}')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(CapitalGrantAccount::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the details of the specified grant account. This account tracks existing grants in your
     * marketplace or platform.
     *
     * @param string $id The unique identifier of the grant account.
     *
     * @return GrantAccount Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getGrantAccountsId1(string $id): GrantAccount
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/grantAccounts/{id}')
            ->server(Server::DEFAULT15)
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not Found - The entity was not found.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(GrantAccount::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
