<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\ServiceErrorError1Exception;
use AdyenLib\Models\OnboardingLink;
use AdyenLib\Models\OnboardingLinkInfo;
use AdyenLib\Models\OnboardingTheme;
use AdyenLib\Models\OnboardingThemes;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class HostedOnboardingApi extends BaseApi
{
    /**
     * Returns a link to an Adyen-hosted onboarding page where you need to redirect your user.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The unique identifier of the legal entity
     * @param OnboardingLinkInfo|null $body
     *
     * @return OnboardingLink Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postLegalEntitiesIdOnboardingLinks(string $id, ?OnboardingLinkInfo $body = null): OnboardingLink
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/legalEntities/{id}/onboardingLinks')
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('id', $id),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(OnboardingLink::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a list of hosted onboarding page themes.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @return OnboardingThemes Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getThemes(): OnboardingThemes
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/themes')
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth');

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(OnboardingThemes::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the details of the theme identified in the path.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The unique identifier of the theme
     *
     * @return OnboardingTheme Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getThemesId(string $id): OnboardingTheme
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/themes/{id}')
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(OnboardingTheme::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
