<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\DefaultErrorResponseEntityException;
use AdyenLib\Models\IdealAuthenticateRequest;
use AdyenLib\Models\IdealAuthenticateResponse;
use AdyenLib\Models\IdealAuthLinkRequest;
use AdyenLib\Models\IdealAuthLinkResponse;
use AdyenLib\Models\ProfileRegistrationRequest;
use AdyenLib\Models\ProfileRegistrationResponse;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class IDEALProfilesApi extends BaseApi
{
    /**
     * Manage an already registered iDEAL profile. Generates a redirection URL to manage the iDEAL profile
     * linked to the account holder from the request.
     *
     * @param IdealAuthLinkRequest $body
     *
     * @return IdealAuthLinkResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postIdealProfileAuthLink(IdealAuthLinkRequest $body): IdealAuthLinkResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/ideal/profile/auth-link')
            ->server(Server::DEFAULT20)
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - The request is malformed or is not the expected format.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Service Error - An unrecoverable error occurred while trying to p' .
                    'erform the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(IdealAuthLinkResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Generates an redirection URL to finish the authentication flow when requested by iDEAL. Before
     * calling this endpoint, make sure that your user has completed multi-factor authentication.
     *
     * @param IdealAuthenticateRequest $body
     *
     * @return IdealAuthenticateResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postIdealProfileAuthenticate(IdealAuthenticateRequest $body): IdealAuthenticateResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/ideal/profile/authenticate')
            ->server(Server::DEFAULT20)
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - The request is malformed or is not the expected format.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Service Error - An unrecoverable error occurred while trying to p' .
                    'erform the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(IdealAuthenticateResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Register a new iDEAL profile. The profile is linked to the account holder and payment instruments
     * included in the request. The user must be redirected to the URL in the response to finish their
     * IDEAL profile registration.
     *
     * @param ProfileRegistrationRequest $body
     *
     * @return ProfileRegistrationResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postIdealProfileRegister(ProfileRegistrationRequest $body): ProfileRegistrationResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/ideal/profile/register')
            ->server(Server::DEFAULT20)
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - The request is malformed or is not the expected format.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Service Error - An unrecoverable error occurred while trying to p' .
                    'erform the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(ProfileRegistrationResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
