<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\ServiceErrorError1Exception;
use AdyenLib\Models\BusinessLines;
use AdyenLib\Models\DataReviewConfirmationResponse;
use AdyenLib\Models\LegalEntity3;
use AdyenLib\Models\LegalEntityInfo;
use AdyenLib\Models\LegalEntityInfoRequiredType;
use AdyenLib\Models\VerificationErrors;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class LegalEntitiesApi extends BaseApi
{
    /**
     * Creates a legal entity.
     *
     * This resource contains information about the user that will be onboarded in your platform. Adyen
     * uses this information to perform verification checks as required by payment industry regulations.
     * Adyen informs you of the verification results through webhooks or API responses.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string|null $xRequestedVerificationCode Use a suberror code as your requested
     *        verification code. You can include one code at a time in your request header.
     *        Requested verification codes can only be used in your test environment.
     * @param LegalEntityInfoRequiredType|null $body
     *
     * @return LegalEntity3 Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postLegalEntities(
        ?string $xRequestedVerificationCode = null,
        ?LegalEntityInfoRequiredType $body = null
    ): LegalEntity3 {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/legalEntities')
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('x-requested-verification-code', $xRequestedVerificationCode),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(LegalEntity3::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a legal entity.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The unique identifier of the legal entity.
     *
     * @return LegalEntity3 Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getLegalEntitiesId(string $id): LegalEntity3
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/legalEntities/{id}')
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(LegalEntity3::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates a legal entity.
     *
     * >To change the legal entity type, include only the new `type` in your request.
     *
     * If you need to update information for the legal entity, make a separate request. To update the
     * `entityAssociations` array, you need to replace the entire array.For example, if the array has 3
     * entries and you want to remove 1 entry, you need to PATCH the resource with the remaining 2 entries.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The unique identifier of the legal entity.
     * @param string|null $xRequestedVerificationCode Use the requested verification code 0_0001 to
     *        resolve any suberrors associated with the legal entity. Requested verification codes
     *        can only be used in your test environment.
     * @param LegalEntityInfo|null $body
     *
     * @return LegalEntity3 Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function patchLegalEntitiesId(
        string $id,
        ?string $xRequestedVerificationCode = null,
        ?LegalEntityInfo $body = null
    ): LegalEntity3 {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/legalEntities/{id}')
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('id', $id),
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('x-requested-verification-code', $xRequestedVerificationCode),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(LegalEntity3::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the business lines owned by a legal entity.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The unique identifier of the legal entity.
     *
     * @return BusinessLines Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getLegalEntitiesIdBusinessLines(string $id): BusinessLines
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/legalEntities/{id}/businessLines')
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(BusinessLines::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the verification errors for a legal entity and its supporting entities.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The unique identifier of the legal entity.
     *
     * @return VerificationErrors Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postLegalEntitiesIdCheckVerificationErrors(string $id): VerificationErrors
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/legalEntities/{id}/checkVerificationErrors')
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(VerificationErrors::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Confirms that your user has reviewed the data for the legal entity specified in the path. Call this
     * endpoint to inform Adyen that your user reviewed and verified that the data is up-to-date. The
     * endpoint returns the timestamp of when Adyen received the request.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The unique identifier of the legal entity.
     *
     * @return DataReviewConfirmationResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postLegalEntitiesIdConfirmDataReview(string $id): DataReviewConfirmationResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/legalEntities/{id}/confirmDataReview')
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(DataReviewConfirmationResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Requests a periodic data review for the legal entity of the user specified in the path.
     *
     * @param string $id The unique identifier of the legal entity.
     *
     * @return mixed Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postLegalEntitiesIdRequestPeriodicReview(string $id)
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/legalEntities/{id}/requestPeriodicReview')
            ->server(Server::DEFAULT18)
            ->parameters(TemplateParam::init('id', $id));

        return $this->execute($_reqBuilder);
    }
}
