<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\DefaultErrorResponseEntityException;
use AdyenLib\Models\BalanceAccountConfiguration;
use AdyenLib\Models\BalanceAccountConfigurationRequest;
use AdyenLib\Models\BalanceAccountConfigurations;
use AdyenLib\Models\BalanceAccountConfigurationUpdate;
use AdyenLib\Models\BalancePlatformConfiguration;
use AdyenLib\Models\BalancePlatformConfigurations;
use AdyenLib\Models\ExecutionResultEnum;
use AdyenLib\Models\PayoutScheduleExecutions;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class ManagedPayoutSchedulesApi extends BaseApi
{
    /**
     * Returns a list of all managed payout schedules that are configured on a balance account. You can use
     * query parameters to filter the elements that are returned in the list.
     *
     * @param string $balanceAccountId The unique identifier of the balance account.
     * @param string|null $currency The three-character [ISO currency
     *        code](https://docs.adyen.com/development-resources/currency-codes) of the currency
     *        used in the payout schedule.
     * @param string|null $cursor The `cursor` returned in the links of the previous response.
     * @param int|null $limit The number of items returned per page, maximum of 100 items. By
     *        default, the response returns 10 items per page.
     *
     * @return BalanceAccountConfigurations Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getBalanceAccountsBalanceAccountIdPayoutSchedules(
        string $balanceAccountId,
        ?string $currency = null,
        ?string $cursor = null,
        ?int $limit = 10
    ): BalanceAccountConfigurations {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/balanceAccounts/{balanceAccountId}/payoutSchedules'
        )
            ->server(Server::DEFAULT13)
            ->parameters(
                TemplateParam::init('balanceAccountId', $balanceAccountId),
                QueryParam::init('currency', $currency),
                QueryParam::init('cursor', $cursor),
                QueryParam::init('limit', $limit)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not Found - the resource was not found',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(BalanceAccountConfigurations::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Apply a managed payout schedule to a balance account. This payout schedule is based on an existing
     * payout schedule in your balance platform.
     *
     * @param string $balanceAccountId The unique identifier of the balance account.
     * @param BalanceAccountConfigurationRequest $body
     *
     * @return BalanceAccountConfiguration Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postBalanceAccountsBalanceAccountIdPayoutSchedules(
        string $balanceAccountId,
        BalanceAccountConfigurationRequest $body
    ): BalanceAccountConfiguration {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/balanceAccounts/{balanceAccountId}/payoutSchedules'
        )
            ->server(Server::DEFAULT13)
            ->parameters(
                TemplateParam::init('balanceAccountId', $balanceAccountId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not Found - the resource was not found',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(BalanceAccountConfiguration::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the specified payout schedule.
     *
     * @param string $balanceAccountId The unique identifier of the balance account.
     * @param string $id The unique identifier of the payout schedule for the balance account.
     *
     * @return BalanceAccountConfiguration Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getBalanceAccountsBalanceAccountIdPayoutSchedulesId(
        string $balanceAccountId,
        string $id
    ): BalanceAccountConfiguration {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}'
        )
            ->server(Server::DEFAULT13)
            ->parameters(
                TemplateParam::init('balanceAccountId', $balanceAccountId),
                TemplateParam::init('id', $id)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not Found - the resource was not found',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(BalanceAccountConfiguration::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Delete a payout schedule applied to a balance account.
     *
     * @param string $balanceAccountId The unique identifier of the balance account.
     * @param string $id The unique identifier of the payout schedule applied to the balance
     *        account.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteBalanceAccountsBalanceAccountIdPayoutSchedulesId(string $balanceAccountId, string $id): void
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}'
        )
            ->server(Server::DEFAULT13)
            ->parameters(
                TemplateParam::init('balanceAccountId', $balanceAccountId),
                TemplateParam::init('id', $id)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not Found - the resource was not found',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            );

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update a managed payout schedule applied to a balance account. If an optional parameter is not
     * included in the request, it remains unchanged.
     *
     * @param string $balanceAccountId The unique identifier of the balance account.
     * @param string $id The unique identifier of the payout schedule applied to the balance
     *        account.
     * @param BalanceAccountConfigurationUpdate $body
     *
     * @return BalanceAccountConfiguration Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function patchBalanceAccountsBalanceAccountIdPayoutSchedulesId(
        string $balanceAccountId,
        string $id,
        BalanceAccountConfigurationUpdate $body
    ): BalanceAccountConfiguration {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::PATCH,
            '/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}'
        )
            ->server(Server::DEFAULT13)
            ->parameters(
                TemplateParam::init('balanceAccountId', $balanceAccountId),
                TemplateParam::init('id', $id),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not Found - the resource was not found',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(BalanceAccountConfiguration::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * View information about the executions of a managed payout schedule on the specified balance account.
     * An execution is an attempt to make a payout according to the payout schedule.
     *
     * @param string $balanceAccountId The unique identifier of the balance account.
     * @param string $id The unique identifier of the payout schedule on the balance account.
     * @param int $offset The page number to be returned. Default: **1**
     * @param string[]|null $results Contains a list of payout statuses. If included, the response
     *        returns only executed payouts that currently have one of the specified statuses.
     *
     *        Possible statuses:
     *        - **succeeded**: The payout was sent successfully.
     *        - **failed**: The payout was not sent due to an error.
     *        - **skipped**: The payout was not triggered as expected.
     * @param int|null $limit The number of items returned per page. Default: **10**
     *
     * @return PayoutScheduleExecutions Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getBalanceAccountsBalanceAccountIdPayoutSchedulesIdExecutions(
        string $balanceAccountId,
        string $id,
        int $offset,
        ?array $results = null,
        ?int $limit = null
    ): PayoutScheduleExecutions {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/balanceAccounts/{balanceAccountId}/payoutSchedules/{id}/executions'
        )
            ->server(Server::DEFAULT13)
            ->parameters(
                TemplateParam::init('balanceAccountId', $balanceAccountId),
                TemplateParam::init('id', $id),
                QueryParam::init('offset', $offset),
                QueryParam::init('results', $results)->serializeBy([ExecutionResultEnum::class, 'checkValue']),
                QueryParam::init('limit', $limit)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not Found - the resource was not found',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(PayoutScheduleExecutions::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a list of all the payout schedules that are configured for your balance platform. You can
     * use query parameters to filter the elements that are returned in the list.
     *
     * @param string $balancePlatformId The unique identifier of the balance platform.
     * @param string|null $countryCode The two-letter [ISO 3166-1
     *        alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code of the
     *        country to which the payout configuration applies.
     * @param string|null $currency The three-character [ISO currency
     *        code](https://docs.adyen.com/development-resources/currency-codes) of the currency
     *        used in the payout configuration.
     *
     * @return BalancePlatformConfigurations Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getBalancePlatformsBalancePlatformIdPayoutSchedules(
        string $balancePlatformId,
        ?string $countryCode = null,
        ?string $currency = null
    ): BalancePlatformConfigurations {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/balancePlatforms/{balancePlatformId}/payoutSchedules'
        )
            ->server(Server::DEFAULT13)
            ->parameters(
                TemplateParam::init('balancePlatformId', $balancePlatformId),
                QueryParam::init('countryCode', $countryCode),
                QueryParam::init('currency', $currency)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not Found - the resource was not found',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(BalancePlatformConfigurations::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the specified managed payout schedule configured on your balance platform.
     *
     * @param string $balancePlatformId The unique identifier of the balance platform.
     * @param string $id The unique identifier of the payout configuration for your balance
     *        platform.
     *
     * @return BalancePlatformConfiguration Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getBalancePlatformsBalancePlatformIdPayoutSchedulesId(
        string $balancePlatformId,
        string $id
    ): BalancePlatformConfiguration {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/balancePlatforms/{balancePlatformId}/payoutSchedules/{id}'
        )
            ->server(Server::DEFAULT13)
            ->parameters(
                TemplateParam::init('balancePlatformId', $balancePlatformId),
                TemplateParam::init('id', $id)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not Found - the resource was not found',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(BalancePlatformConfiguration::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
