<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\RestServiceErrorException;
use AdyenLib\Models\PinChangeRequest;
use AdyenLib\Models\PinChangeResponse;
use AdyenLib\Models\PublicKeyResponse;
use AdyenLib\Models\RevealPinRequest;
use AdyenLib\Models\RevealPinResponse;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class ManageCardPINApi extends BaseApi
{
    /**
     * Changes the personal identification number (PIN) of a specified card.
     *
     * To make this request, your API credential must have the following role:
     * * Bank Issuing PIN Change Webservice role
     *
     * @param PinChangeRequest|null $body
     *
     * @return PinChangeResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postPinsChange(?PinChangeRequest $body = null): PinChangeResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/pins/change')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(PinChangeResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns an encrypted PIN block that contains the PIN of a specified card. You can use the decrypted
     * data to reveal the PIN in your user interface.
     *
     * To make this request, your API credential must have the following role:
     * * Bank Issuing PIN Reveal Webservice role
     *
     * @param RevealPinRequest|null $body
     *
     * @return RevealPinResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postPinsReveal(?RevealPinRequest $body = null): RevealPinResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/pins/reveal')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(RevealPinResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Get an [RSA](https://en.wikipedia.org/wiki/RSA_(cryptosystem)) public key to encrypt or decrypt card
     * data.
     *
     * You need the RSA public key to generate the `encryptedKey` required to:
     * - [Change a PIN](https://docs.adyen.com/api-explorer/balanceplatform/2/post/pins/change).
     * - [Reveal a PIN](https://docs.adyen.com/api-explorer/balanceplatform/2/post/pins/reveal).
     * - [Reveal a PAN](https://docs.adyen.com/api-
     * explorer/balanceplatform/2/post/paymentInstruments/reveal).
     *
     * @param string|null $purpose The purpose of the public key. Possible values: **pinChange**,
     *        **pinReveal**, **panReveal**.
     *
     *        Default value: **pinReveal**.
     * @param string|null $format The encoding format of public key. Possible values: **jwk**,
     *        **pem**.
     *
     *        Default value: **pem**.
     *
     * @return PublicKeyResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getPublicKey(?string $purpose = null, ?string $format = null): PublicKeyResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/publicKey')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(QueryParam::init('purpose', $purpose), QueryParam::init('format', $format));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(PublicKeyResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
