<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\RestServiceErrorException;
use AdyenLib\Models\AssociationFinaliseRequest;
use AdyenLib\Models\AssociationFinaliseResponse;
use AdyenLib\Models\AssociationInitiateRequest;
use AdyenLib\Models\AssociationInitiateResponse;
use AdyenLib\Models\RegisterSCAFinalResponse;
use AdyenLib\Models\RegisterSCARequest;
use AdyenLib\Models\RegisterSCAResponse;
use AdyenLib\Models\SearchRegisteredDevicesResponse;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class ManageSCADevicesApi extends BaseApi
{
    /**
     * Get a paginated list of the SCA devices you have currently registered for a specific payment
     * instrument.
     *
     * @param string $paymentInstrumentId The unique identifier of a payment instrument. It limits
     *        the returned list to SCA devices associated to this payment instrument.
     * @param int|null $pageNumber The index of the page to retrieve. The index of the first page is
     *        0 (zero).
     *
     *        Default: 0.
     * @param int|null $pageSize The number of items to have on a page. Default: 20. Maximum: 100.
     *
     * @return SearchRegisteredDevicesResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getRegisteredDevices(
        string $paymentInstrumentId,
        ?int $pageNumber = null,
        ?int $pageSize = null
    ): SearchRegisteredDevicesResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/registeredDevices')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(
                QueryParam::init('paymentInstrumentId', $paymentInstrumentId),
                QueryParam::init('pageNumber', $pageNumber),
                QueryParam::init('pageSize', $pageSize)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(SearchRegisteredDevicesResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Initiates the registration of a user's device for Strong Customer Authentication (SCA). You can
     * register SCA devices for [business accounts](https://docs.adyen.com/platforms/business-
     * accounts/sca/register-devices) or [Adyen-issued cards](https://docs.adyen.com/issuing/3d-secure/oob-
     * auth-sdk/register-devices).
     *
     * For a successful request, the device must be eligible for SCA.
     *
     * @param RegisterSCARequest|null $body
     *
     * @return RegisterSCAResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postRegisteredDevices(?RegisterSCARequest $body = null): RegisterSCAResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/registeredDevices')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(RegisterSCAResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Initiates an association between a user's registered SCA device and an Adyen resource. For example,
     * you can associate an SCA device with additional [business accounts](https://docs.adyen.
     * com/platforms/business-accounts/sca/register-devices) or [Adyen-issued cards](https://docs.adyen.
     * com/issuing/3d-secure/oob-auth-sdk/register-devices).
     *
     * @param string $deviceId The unique identifier of the SCA device that you are associating with
     *        a resource.
     * @param AssociationInitiateRequest|null $body
     *
     * @return AssociationInitiateResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postRegisteredDevicesDeviceIdAssociations(
        string $deviceId,
        ?AssociationInitiateRequest $body = null
    ): AssociationInitiateResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/registeredDevices/{deviceId}/associations')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('deviceId', $deviceId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(AssociationInitiateResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Completes an association between a user's registered SCA device and an Adyen resource. For example,
     * you can associate an SCA device with additional [business accounts](https://docs.adyen.
     * com/platforms/business-accounts/sca/register-devices) or [Adyen-issued cards](https://docs.adyen.
     * com/issuing/3d-secure/oob-auth-sdk/register-devices).
     *
     * To complete the association, this endpoint validates the authentication data of the registered
     * device.
     *
     * @param string $deviceId The unique identifier of the SCA device that you are associating with
     *        a resource.
     * @param AssociationFinaliseRequest|null $body
     *
     * @return AssociationFinaliseResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function patchRegisteredDevicesDeviceIdAssociations(
        string $deviceId,
        ?AssociationFinaliseRequest $body = null
    ): AssociationFinaliseResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/registeredDevices/{deviceId}/associations')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('deviceId', $deviceId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(AssociationFinaliseResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deletes an SCA device from the list of registered devices of a specific payment instrument.
     *
     * @param string $id The unique identifier of the SCA device.
     * @param string $paymentInstrumentId The unique identifier of the payment instrument linked to
     *        the SCA device.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteRegisteredDevicesId(string $id, string $paymentInstrumentId): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/registeredDevices/{id}')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('id', $id),
                QueryParam::init('paymentInstrumentId', $paymentInstrumentId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            );

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Completes the registration of an SCA device by validating the authentication data of the device. You
     * can register SCA devices for [business accounts](https://docs.adyen.com/platforms/business-
     * accounts/sca) or [Adyen-issued cards](https://docs.adyen.com/issuing/3d-secure/oob-auth-sdk).
     *
     *
     *
     * @param string $id The unique identifier of the SCA device. You obtain this `id` in the
     *        response of a POST&nbsp;[/registeredDevices](https://docs.adyen.com/api-
     *        explorer/balanceplatform/2/post/registeredDevices#responses-200-id) request.
     * @param RegisterSCARequest|null $body
     *
     * @return RegisterSCAFinalResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function patchRegisteredDevicesId(string $id, ?RegisterSCARequest $body = null): RegisterSCAFinalResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/registeredDevices/{id}')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('id', $id),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(RegisterSCAFinalResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
