<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\ServiceErrorException;
use AdyenLib\Models\AdjustAuthorisationRequest;
use AdyenLib\Models\CancelOrRefundRequest;
use AdyenLib\Models\CancelRequest;
use AdyenLib\Models\CaptureRequest;
use AdyenLib\Models\DonationRequest;
use AdyenLib\Models\ModificationResult;
use AdyenLib\Models\PaymentAmountUpdateRequest;
use AdyenLib\Models\PaymentAmountUpdateResponse;
use AdyenLib\Models\PaymentCancelRequest;
use AdyenLib\Models\PaymentCancelResponse;
use AdyenLib\Models\PaymentCaptureRequest;
use AdyenLib\Models\PaymentCaptureResponse;
use AdyenLib\Models\PaymentRefundRequest;
use AdyenLib\Models\PaymentRefundResponse;
use AdyenLib\Models\PaymentReversalRequest;
use AdyenLib\Models\PaymentReversalResponse;
use AdyenLib\Models\RefundRequest;
use AdyenLib\Models\StandalonePaymentCancelRequest;
use AdyenLib\Models\StandalonePaymentCancelResponse;
use AdyenLib\Models\TechnicalCancelRequest;
use AdyenLib\Models\VoidPendingRefundRequest;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class ModificationsApi extends BaseApi
{
    /**
     * Cancels the authorisation on a payment that has not yet been [captured](https://docs.adyen.com/api-
     * explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/captures), and returns a
     * unique reference for this request. You get the outcome of the request asynchronously, in a
     * [**TECHNICAL_CANCEL** webhook](https://docs.adyen.com/online-payments/cancel#cancellation-webhook).
     *
     * If you want to cancel a payment using the [`pspReference`](https://docs.adyen.com/api-
     * explorer/Checkout/latest/post/payments#responses-200-pspReference), use the
     * [`/payments/{paymentPspReference}/cancels`](https://docs.adyen.com/api-
     * explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/cancels) endpoint instead.
     *
     * If you want to cancel a payment but are not sure whether it has been captured, use the
     * [`/payments/{paymentPspReference}/reversals`](https://docs.adyen.com/api-
     * explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/reversals) endpoint instead.
     *
     * For more information, refer to [Cancel](https://docs.adyen.com/online-payments/cancel).
     *
     * @param string|null $idempotencyKey A unique identifier for the message with a maximum of 64
     *        characters (we recommend a UUID).
     * @param StandalonePaymentCancelRequest|null $body
     *
     * @return StandalonePaymentCancelResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postCancels(
        ?string $idempotencyKey = null,
        ?StandalonePaymentCancelRequest $body = null
    ): StandalonePaymentCancelResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/cancels')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('Idempotency-Key', $idempotencyKey),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(StandalonePaymentCancelResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Increases or decreases the authorised payment amount and returns a unique reference for this request.
     * You get the outcome of the request asynchronously, in an [**AUTHORISATION_ADJUSTMENT**
     * webhook](https://docs.adyen.com/development-resources/webhooks/webhook-types/#event-codes).
     *
     * You can only update authorised amounts that have not yet been [captured](https://docs.adyen.com/api-
     * explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/captures).
     *
     * The amount you specify in the request is the updated amount, which is larger or smaller than the
     * initial authorised amount.
     *
     * For more information, refer to [Authorisation adjustment](https://docs.adyen.com/online-
     * payments/adjust-authorisation#use-cases).
     *
     * @param string $paymentPspReference The
     *        [`pspReference`](https://docs.adyen.com/api-
     *        explorer/Checkout/latest/post/payments#responses-200-pspReference) of the payment.
     * @param string|null $idempotencyKey A unique identifier for the message with a maximum of 64
     *        characters (we recommend a UUID).
     * @param PaymentAmountUpdateRequest|null $body
     *
     * @return PaymentAmountUpdateResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postPaymentsPaymentPspReferenceAmountUpdates(
        string $paymentPspReference,
        ?string $idempotencyKey = null,
        ?PaymentAmountUpdateRequest $body = null
    ): PaymentAmountUpdateResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/payments/{paymentPspReference}/amountUpdates')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('paymentPspReference', $paymentPspReference),
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('Idempotency-Key', $idempotencyKey),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(PaymentAmountUpdateResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Cancels the authorisation on a payment that has not yet been [captured](https://docs.adyen.com/api-
     * explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/captures), and returns a
     * unique reference for this request. You get the outcome of the request asynchronously, in a
     * [**CANCELLATION** webhook](https://docs.adyen.com/online-payments/cancel#cancellation-webhook).
     *
     * If you want to cancel a payment but don't have the [`pspReference`](https://docs.adyen.com/api-
     * explorer/Checkout/latest/post/payments#responses-200-pspReference), use the [`/cancels`](https:
     * //docs.adyen.com/api-explorer/#/CheckoutService/latest/post/cancels) endpoint instead.
     *
     * If you want to cancel a payment but are not sure whether it has been captured, use the
     * [`/payments/{paymentPspReference}/reversals`](https://docs.adyen.com/api-
     * explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/reversals) endpoint instead.
     *
     * For more information, refer to [Cancel](https://docs.adyen.com/online-payments/cancel).
     *
     * @param string $paymentPspReference The
     *        [`pspReference`](https://docs.adyen.com/api-
     *        explorer/Checkout/latest/post/payments#responses-200-pspReference) of the payment
     *        that you want to cancel.
     * @param string|null $idempotencyKey A unique identifier for the message with a maximum of 64
     *        characters (we recommend a UUID).
     * @param PaymentCancelRequest|null $body
     *
     * @return PaymentCancelResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postPaymentsPaymentPspReferenceCancels(
        string $paymentPspReference,
        ?string $idempotencyKey = null,
        ?PaymentCancelRequest $body = null
    ): PaymentCancelResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/payments/{paymentPspReference}/cancels')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('paymentPspReference', $paymentPspReference),
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('Idempotency-Key', $idempotencyKey),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(PaymentCancelResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Captures an authorised payment and returns a unique reference for this request. You get the outcome
     * of the request asynchronously, in a [**CAPTURE** webhook](https://docs.adyen.com/online-
     * payments/capture#capture-notification).
     *
     * You can capture either the full authorised amount or a part of the authorised amount. By default,
     * any unclaimed amount after a partial capture gets cancelled. This does not apply if you enabled
     * multiple partial captures on your account and the payment method supports multiple partial captures.
     *
     * [Automatic capture](https://docs.adyen.com/online-payments/capture#automatic-capture) is the default
     * setting for most payment methods. In these cases, you don't need to make capture requests. However,
     * making capture requests for payments that are captured automatically does not result in double
     * charges.
     *
     * For more information, refer to [Capture](https://docs.adyen.com/online-payments/capture).
     *
     * @param string $paymentPspReference The
     *        [`pspReference`](https://docs.adyen.com/api-
     *        explorer/Checkout/latest/post/payments#responses-200-pspReference) of the payment
     *        that you want to capture.
     * @param string|null $idempotencyKey A unique identifier for the message with a maximum of 64
     *        characters (we recommend a UUID).
     * @param PaymentCaptureRequest|null $body
     *
     * @return PaymentCaptureResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postPaymentsPaymentPspReferenceCaptures(
        string $paymentPspReference,
        ?string $idempotencyKey = null,
        ?PaymentCaptureRequest $body = null
    ): PaymentCaptureResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/payments/{paymentPspReference}/captures')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('paymentPspReference', $paymentPspReference),
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('Idempotency-Key', $idempotencyKey),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(PaymentCaptureResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Refunds a payment that has been [captured](https://docs.adyen.com/api-
     * explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/captures), and returns a
     * unique reference for this request. You get the outcome of the request asynchronously, in a
     * [**REFUND** webhook](https://docs.adyen.com/online-payments/refund#refund-webhook).
     *
     * You can refund either the full captured amount or a part of the captured amount. You can also
     * perform multiple partial refunds, as long as their sum doesn't exceed the captured amount.
     *
     * > Some payment methods do not support partial refunds. To learn if a payment method supports partial
     * refunds, refer to the payment method page such as [cards](https://docs.adyen.com/payment-
     * methods/cards#supported-cards), [iDEAL](https://docs.adyen.com/payment-methods/ideal), or
     * [Klarna](https://docs.adyen.com/payment-methods/klarna).
     *
     * If you want to refund a payment but are not sure whether it has been captured, use the
     * [`/payments/{paymentPspReference}/reversals`](https://docs.adyen.com/api-
     * explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/reversals) endpoint instead.
     *
     * For more information, refer to [Refund](https://docs.adyen.com/online-payments/refund).
     *
     * @param string $paymentPspReference The
     *        [`pspReference`](https://docs.adyen.com/api-
     *        explorer/Checkout/latest/post/payments#responses-200-pspReference) of the payment
     *        that you want to refund.
     * @param string|null $idempotencyKey A unique identifier for the message with a maximum of 64
     *        characters (we recommend a UUID).
     * @param PaymentRefundRequest|null $body
     *
     * @return PaymentRefundResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postPaymentsPaymentPspReferenceRefunds(
        string $paymentPspReference,
        ?string $idempotencyKey = null,
        ?PaymentRefundRequest $body = null
    ): PaymentRefundResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/payments/{paymentPspReference}/refunds')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('paymentPspReference', $paymentPspReference),
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('Idempotency-Key', $idempotencyKey),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(PaymentRefundResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * [Refunds](https://docs.adyen.com/api-
     * explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/refunds) a payment if it has
     * already been captured, and [cancels](https://docs.adyen.com/api-
     * explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/cancels) a payment if it has
     * not yet been captured. Returns a unique reference for this request. You get the outcome of the
     * request asynchronously, in a [**CANCEL_OR_REFUND** webhook](https://docs.adyen.com/online-
     * payments/reversal/#cancel-or-refund-webhook).
     *
     * The reversed amount is always the full payment amount.
     * > Do not use this request for payments that involve multiple partial captures.
     *
     * For more information, refer to [Reversal](https://docs.adyen.com/online-payments/reversal).
     *
     * @param string $paymentPspReference The
     *        [`pspReference`](https://docs.adyen.com/api-
     *        explorer/Checkout/latest/post/payments#responses-200-pspReference) of the payment
     *        that you want to reverse.
     * @param string|null $idempotencyKey A unique identifier for the message with a maximum of 64
     *        characters (we recommend a UUID).
     * @param PaymentReversalRequest|null $body
     *
     * @return PaymentReversalResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postPaymentsPaymentPspReferenceReversals(
        string $paymentPspReference,
        ?string $idempotencyKey = null,
        ?PaymentReversalRequest $body = null
    ): PaymentReversalResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/payments/{paymentPspReference}/reversals')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('paymentPspReference', $paymentPspReference),
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('Idempotency-Key', $idempotencyKey),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(PaymentReversalResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Allows you to increase or decrease the authorised amount after the initial authorisation has taken
     * place. This functionality enables for example tipping, improving the chances your authorisation will
     * be valid, or charging the shopper when they have already left the merchant premises.
     *
     * > This endpoint is [inactive](https://docs.adyen.com/online-payments/upgrade-your-
     * integration#checkout-api-lifecycle) and is no longer supported for new integrations.
     * > * If you are building a new integration, use the Checkout API
     * [`/payments/{paymentPspReference}/amountUpdates`](https://docs.adyen.com/api-
     * explorer/Checkout/latest/post/payments/(paymentPspReference)/amountUpdates) endpoint instead.
     * > * If you have an existing integration using this endpoint, reach out to your Adyen contact and
     * [migrate to the Checkout API](https://docs.adyen.com/online-payments/upgrade-your-
     * integration/migrate-to-checkout-api).
     *
     * >The Checkout API enables your [online payments](https://docs.adyen.com/online-payments) integration
     * to accept all supported payment methods, use the latest features, and access more benefits.
     *
     * @param AdjustAuthorisationRequest|null $body
     *
     * @return ModificationResult Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postAdjustAuthorisation(?AdjustAuthorisationRequest $body = null): ModificationResult
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/adjustAuthorisation')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(ModificationResult::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Cancels the authorisation hold on a payment, returning a unique reference for this request. You can
     * cancel payments after authorisation only for payment methods that support distinct authorisations
     * and captures.
     *
     * For more information, refer to [Cancel](https://docs.adyen.com/online-payments/classic-
     * integrations/modify-payments/cancel).
     *
     * > This endpoint is [inactive](https://docs.adyen.com/online-payments/upgrade-your-
     * integration#checkout-api-lifecycle) and is no longer supported for new integrations.
     * > * If you are building a new integration, use the Checkout API
     * [`/payments/{paymentPspReference}/cancels`](https://docs.adyen.com/api-
     * explorer/Checkout/latest/post/payments/(paymentPspReference)/cancels) endpoint instead.
     * > * If you have an existing integration using this endpoint, reach out to your Adyen contact and
     * [migrate to the Checkout API](https://docs.adyen.com/online-payments/upgrade-your-
     * integration/migrate-to-checkout-api).
     *
     * > The Checkout API enables your [online payments](https://docs.adyen.com/online-payments)
     * integration to accept all supported payment methods, use the latest features, and access more
     * benefits.
     *
     * @param CancelRequest|null $body
     *
     * @return ModificationResult Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postCancel(?CancelRequest $body = null): ModificationResult
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/cancel')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(ModificationResult::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Cancels a payment if it has not been captured yet, or refunds it if it has already been captured.
     * This is useful when it is not certain if the payment has been captured or not (for example, when
     * using auto-capture).
     *
     * Do not use this endpoint for payments that involve:
     * * [Multiple partial captures](https://docs.adyen.com/online-payments/capture).
     * * [Split data](https://docs.adyen.com/classic-platforms/processing-payments#providing-split-
     * information) either at time of payment or capture for Adyen for Platforms.
     *
     * Instead, check if the payment has been captured and make a corresponding [`/refund`](https://docs.
     * adyen.com/api-explorer/#/Payment/refund) or [`/cancel`](https://docs.adyen.com/api-
     * explorer/#/Payment/cancel) call.
     *
     * For more information, refer to [Cancel or refund](https://docs.adyen.com/online-payments/classic-
     * integrations/modify-payments/cancel-or-refund).
     *
     * > This endpoint is [inactive](https://docs.adyen.com/online-payments/upgrade-your-
     * integration#checkout-api-lifecycle) and is no longer supported for new integrations.
     * > * If you are building a new integration, use the Checkout API
     * [`/payments/{paymentPspReference}/reversals`](https://docs.adyen.com/api-
     * explorer/Checkout/latest/post/payments/(paymentPspReference)/reversals) endpoint instead.
     * > * If you have an existing integration using this endpoint, reach out to your Adyen contact and
     * [migrate to the Checkout API](https://docs.adyen.com/online-payments/upgrade-your-
     * integration/migrate-to-checkout-api).
     *
     * > The Checkout API enables your [online payments](https://docs.adyen.com/online-payments)
     * integration to accept all supported payment methods, use the latest features, and access more
     * benefits.
     *
     * @param CancelOrRefundRequest|null $body
     *
     * @return ModificationResult Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postCancelOrRefund(?CancelOrRefundRequest $body = null): ModificationResult
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/cancelOrRefund')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(ModificationResult::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Captures the authorisation hold on a payment, returning a unique reference for this request. Usually
     * the full authorisation amount is captured, however it's also possible to capture a smaller amount,
     * which results in cancelling the remaining authorisation balance.
     *
     * Payment methods that are captured automatically after authorisation don't need to be captured.
     * However, submitting a capture request on these transactions will not result in double charges. If
     * immediate or delayed auto-capture is enabled, calling the capture method is not necessary.
     *
     * For more information refer to [Capture](https://docs.adyen.com/online-payments/classic-
     * integrations/modify-payments/capture).
     *
     * > This endpoint is [inactive](https://docs.adyen.com/online-payments/upgrade-your-
     * integration#checkout-api-lifecycle) and is no longer supported for new integrations.
     * > * If you are building a new integration, use the Checkout API
     * [`/payments/{paymentPspReference}/captures`](https://docs.adyen.com/api-
     * explorer/Checkout/latest/post/payments/(paymentPspReference)/captures) endpoint instead.
     * > * If you have an existing integration using this endpoint, reach out to your Adyen contact and
     * [migrate to the Checkout API](https://docs.adyen.com/online-payments/upgrade-your-
     * integration/migrate-to-checkout-api).
     *
     * > The Checkout API enables your [online payments](https://docs.adyen.com/online-payments)
     * integration to accept all supported payment methods, use the latest features, and access more
     * benefits.
     *
     * @param CaptureRequest|null $body
     *
     * @return ModificationResult Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postCapture(?CaptureRequest $body = null): ModificationResult
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/capture')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(ModificationResult::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Schedules a new payment to be created (including a new authorisation request) for the specified
     * donation using the payment details of the original payment.
     *
     * > This endpoint is [inactive](https://docs.adyen.com/online-payments/upgrade-your-
     * integration#checkout-api-lifecycle) and is no longer supported for new integrations.
     * > * If you are building a new integration, use the Checkout API [`/donations`](https://docs.adyen.
     * com/api-explorer/Checkout/latest/post/donations) endpoint instead.
     * > * If you have an existing integration using this endpoint, reach out to your Adyen contact and
     * [migrate to the Checkout API](https://docs.adyen.com/online-payments/upgrade-your-
     * integration/migrate-to-checkout-api).
     *
     * > The Checkout API enables your [online payments](https://docs.adyen.com/online-payments)
     * integration to accept all supported payment methods, use the latest features, and access more
     * benefits.
     *
     * @deprecated
     *
     * @param DonationRequest|null $body
     *
     * @return ModificationResult Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postDonate(?DonationRequest $body = null): ModificationResult
    {
        trigger_error('Method ' . __METHOD__ . ' is deprecated.', E_USER_DEPRECATED);

        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/donate')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(ModificationResult::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Refunds a payment that has previously been captured, returning a unique reference for this request.
     * Refunding can be done on the full captured amount or a partial amount. Multiple (partial) refunds
     * will be accepted as long as their sum doesn't exceed the captured amount. Payments which have been
     * authorised, but not captured, cannot be refunded, use the /cancel method instead.
     *
     * Some payment methods/gateways do not support partial/multiple refunds.
     * A margin above the captured limit can be configured to cover shipping/handling costs.
     *
     * For more information, refer to [Refund](https://docs.adyen.com/online-payments/classic-
     * integrations/modify-payments/refund).
     *
     * > This endpoint is [inactive](https://docs.adyen.com/online-payments/upgrade-your-
     * integration#checkout-api-lifecycle) and is no longer supported for new integrations.
     * > * If you are building a new integration, use the Checkout API
     * [`/payments/{paymentPspReference}/refunds`](https://docs.adyen.com/api-
     * explorer/Checkout/latest/post/payments/(paymentPspReference)/refunds) endpoint instead.
     * > * If you have an existing integration using this endpoint, reach out to your Adyen contact and
     * [migrate to the Checkout API](https://docs.adyen.com/online-payments/upgrade-your-
     * integration/migrate-to-checkout-api).
     *
     * > The Checkout API enables your [online payments](https://docs.adyen.com/online-payments)
     * integration to accept all supported payment methods, use the latest features, and access more
     * benefits.
     *
     * @param RefundRequest|null $body
     *
     * @return ModificationResult Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postRefund(?RefundRequest $body = null): ModificationResult
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/refund')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(ModificationResult::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This endpoint allows you to cancel a payment if you do not have the PSP reference of the original
     * payment request available.
     *
     * In your call, refer to the original payment by using the `reference` that you specified in your
     * payment request.
     *
     * For more information, see [Technical cancel](https://docs.adyen.com/online-payments/classic-
     * integrations/modify-payments/cancel#technical-cancel).
     *
     * > This endpoint is [inactive](https://docs.adyen.com/online-payments/upgrade-your-
     * integration#checkout-api-lifecycle) and is no longer supported for new integrations.
     * > * If you are building a new integration, use the Checkout API [`/cancels`](https://docs.adyen.
     * com/api-explorer/Checkout/latest/post/cancels) endpoint instead.
     * > * If you have an existing integration using this endpoint, reach out to your Adyen contact and
     * [migrate to the Checkout API](https://docs.adyen.com/online-payments/upgrade-your-
     * integration/migrate-to-checkout-api).
     *
     * > The Checkout API enables your [online payments](https://docs.adyen.com/online-payments)
     * integration to accept all supported payment methods, use the latest features, and access more
     * benefits.
     *
     * @param TechnicalCancelRequest|null $body
     *
     * @return ModificationResult Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postTechnicalCancel(?TechnicalCancelRequest $body = null): ModificationResult
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/technicalCancel')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(ModificationResult::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This endpoint allows you to cancel an unreferenced refund request before it has been completed.
     *
     * In your call, you can refer to the original refund request either by using the `tenderReference`, or
     * the `pspReference`. We recommend implementing based on the `tenderReference`, as this is generated
     * for both offline and online transactions.
     *
     * For more information, refer to [Cancel an unreferenced refund](https://docs.adyen.com/point-of-
     * sale/basic-tapi-integration/refund-payment/cancel-unreferenced).
     *
     * @param VoidPendingRefundRequest|null $body
     *
     * @return ModificationResult Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postVoidPendingRefund(?VoidPendingRefundRequest $body = null): ModificationResult
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/voidPendingRefund')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(ModificationResult::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
