<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\RestServiceErrorException;
use AdyenLib\Models\GetNetworkTokenResponse;
use AdyenLib\Models\UpdateNetworkTokenRequest;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class NetworkTokensApi extends BaseApi
{
    /**
     * Returns the details of a network token.
     *
     * @param string $networkTokenId The unique identifier of the network token.
     *
     * @return GetNetworkTokenResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getNetworkTokensNetworkTokenId(string $networkTokenId): GetNetworkTokenResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/networkTokens/{networkTokenId}')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('networkTokenId', $networkTokenId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(GetNetworkTokenResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates the status of the network token.
     *
     * @param string $networkTokenId The unique identifier of the network token.
     * @param UpdateNetworkTokenRequest|null $body
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function patchNetworkTokensNetworkTokenId(
        string $networkTokenId,
        ?UpdateNetworkTokenRequest $body = null
    ): void {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/networkTokens/{networkTokenId}')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('networkTokenId', $networkTokenId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            );

        $this->execute($_reqBuilder, $_resHandler);
    }
}
