<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\DefaultErrorResponseEntityException;
use AdyenLib\Models\BoardingTokenRequest;
use AdyenLib\Models\BoardingTokenResponse;
use AdyenLib\Models\PaymentsAppResponse;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class PaymentsAppApi extends BaseApi
{
    /**
     * Creates a boarding token used to authenticate the installation of a Payments App instance on an
     * Android device. The boarding token is created for the `boardingRequestToken` of the Payments App for
     * the merchant account identified in the path.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Adyen Payments App role
     *
     *
     * @param string $merchantId The unique identifier of the merchant account.
     * @param BoardingTokenRequest $body
     *
     * @return BoardingTokenResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postMerchantsMerchantIdGeneratePaymentsAppBoardingToken(
        string $merchantId,
        BoardingTokenRequest $body
    ): BoardingTokenResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/merchants/{merchantId}/generatePaymentsAppBoardingToken'
        )
            ->server(Server::DEFAULT26)
            ->parameters(
                TemplateParam::init('merchantId', $merchantId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(BoardingTokenResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates a boarding token used to authenticate the installation of a Payments App instance on an
     * Android device. The boarding token is created for the `boardingRequestToken` of the Payments App for
     * the store identified in the path.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Adyen Payments App role
     *
     *
     * @param string $merchantId The unique identifier of the merchant account.
     * @param string $storeId The unique identifier of the store.
     * @param BoardingTokenRequest $body
     *
     * @return BoardingTokenResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postMerchantsMerchantIdStoresStoreIdGeneratePaymentsAppBoardingToken(
        string $merchantId,
        string $storeId,
        BoardingTokenRequest $body
    ): BoardingTokenResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/merchants/{merchantId}/stores/{storeId}/generatePaymentsAppBoardingToken'
        )
            ->server(Server::DEFAULT26)
            ->parameters(
                TemplateParam::init('merchantId', $merchantId),
                TemplateParam::init('storeId', $storeId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(BoardingTokenResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the list of Payments App instances for the merchant account identified in the path.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Adyen Payments App role
     *
     *
     * @param string $merchantId The unique identifier of the merchant account.
     * @param string|null $statuses The status of the Payments App. Comma-separated list of one or
     *        more values. If no value is provided, the list returns all statuses.
     *
     *        Possible values:
     *
     *        * **BOARDING**
     *
     *        * **BOARDED**
     *
     *        * **REVOKED**
     * @param int|null $limit The number of items to return.
     * @param int|null $offset The number of items to skip.
     *
     * @return PaymentsAppResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getMerchantsMerchantIdPaymentsApps(
        string $merchantId,
        ?string $statuses = null,
        ?int $limit = 10,
        ?int $offset = 0
    ): PaymentsAppResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/merchants/{merchantId}/paymentsApps')
            ->server(Server::DEFAULT26)
            ->parameters(
                TemplateParam::init('merchantId', $merchantId),
                QueryParam::init('statuses', $statuses),
                QueryParam::init('limit', $limit),
                QueryParam::init('offset', $offset)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(PaymentsAppResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the list of Payments App instances for the store identified in the path.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Adyen Payments App role
     *
     *
     * @param string $merchantId The unique identifier of the merchant account.
     * @param string $storeId The unique identifier of the store.
     * @param string|null $statuses The status of the Payments App. Comma-separated list of one or
     *        more values. If no value is provided, the list returns all statuses.
     *
     *        Possible values:
     *
     *        * **BOARDING**
     *
     *        * **BOARDED**
     *
     *        * **REVOKED**
     * @param int|null $limit The number of items to return.
     * @param int|null $offset The number of items to skip.
     *
     * @return PaymentsAppResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getMerchantsMerchantIdStoresStoreIdPaymentsApps(
        string $merchantId,
        string $storeId,
        ?string $statuses = null,
        ?int $limit = 10,
        ?int $offset = 0
    ): PaymentsAppResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/merchants/{merchantId}/stores/{storeId}/paymentsApps'
        )
            ->server(Server::DEFAULT26)
            ->parameters(
                TemplateParam::init('merchantId', $merchantId),
                TemplateParam::init('storeId', $storeId),
                QueryParam::init('statuses', $statuses),
                QueryParam::init('limit', $limit),
                QueryParam::init('offset', $offset)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(PaymentsAppResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Revokes the authentication of the Payments App instance for the `installationId` and merchant
     * account identified in the path. This call revokes the authentication of the Payments App instance
     * with the `installationId` identified in the path for both merchant accounts and stores.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Adyen Payments App role
     *
     *
     * @param string $merchantId The unique identifier of the merchant account.
     * @param string $installationId The unique identifier of the Payments App instance on a device.
     *
     * @return mixed Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postMerchantsMerchantIdPaymentsAppsInstallationIdRevoke(string $merchantId, string $installationId)
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/merchants/{merchantId}/paymentsApps/{installationId}/revoke'
        )
            ->server(Server::DEFAULT26)
            ->parameters(
                TemplateParam::init('merchantId', $merchantId),
                TemplateParam::init('installationId', $installationId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            );

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
