<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\RestServiceErrorException;
use AdyenLib\Models\PaymentInstrumentGroup;
use AdyenLib\Models\PaymentInstrumentGroupInfo;
use AdyenLib\Models\TransactionRulesResponse;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class PaymentInstrumentGroupsApi extends BaseApi
{
    /**
     * Creates a payment instrument group to associate and group payment instrument resources together. You
     * can apply a transaction rule to a payment instrument group.
     *
     * @param PaymentInstrumentGroupInfo|null $body
     *
     * @return PaymentInstrumentGroup Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postPaymentInstrumentGroups(?PaymentInstrumentGroupInfo $body = null): PaymentInstrumentGroup
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/paymentInstrumentGroups')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(PaymentInstrumentGroup::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the details of a payment instrument group.
     *
     * @param string $id The unique identifier of the payment instrument group.
     *
     * @return PaymentInstrumentGroup Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getPaymentInstrumentGroupsId(string $id): PaymentInstrumentGroup
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/paymentInstrumentGroups/{id}')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(PaymentInstrumentGroup::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a list of all the transaction rules associated with a payment instrument group.
     *
     * @param string $id The unique identifier of the payment instrument group.
     *
     * @return TransactionRulesResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getPaymentInstrumentGroupsIdTransactionRules(string $id): TransactionRulesResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/paymentInstrumentGroups/{id}/transactionRules')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(TransactionRulesResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
