<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\ServiceErrorError1Exception;
use AdyenLib\Models\CalculatePciStatusRequest;
use AdyenLib\Models\CalculatePciStatusResponse;
use AdyenLib\Models\GeneratePciDescriptionRequest;
use AdyenLib\Models\GeneratePciDescriptionResponse;
use AdyenLib\Models\GetPciQuestionnaireInfosResponse;
use AdyenLib\Models\GetPciQuestionnaireResponse;
use AdyenLib\Models\PciSigningRequest;
use AdyenLib\Models\PciSigningResponse;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class PCIQuestionnairesApi extends BaseApi
{
    /**
     * Get a list of signed PCI questionnaires.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The unique identifier of the legal entity to get PCI questionnaire
     *        information.
     *
     * @return GetPciQuestionnaireInfosResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getLegalEntitiesIdPciQuestionnaires(string $id): GetPciQuestionnaireInfosResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/legalEntities/{id}/pciQuestionnaires')
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(GetPciQuestionnaireInfosResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Generates the required PCI questionnaires based on the user's [salesChannel](https://docs.adyen.
     * com/api-explorer/#/legalentity/latest/post/businessLines__reqParam_salesChannels).
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The unique identifier of the legal entity to get PCI questionnaire
     *        information.
     * @param GeneratePciDescriptionRequest|null $body
     *
     * @return GeneratePciDescriptionResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postLegalEntitiesIdPciQuestionnairesGeneratePciTemplates(
        string $id,
        ?GeneratePciDescriptionRequest $body = null
    ): GeneratePciDescriptionResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/legalEntities/{id}/pciQuestionnaires/generatePciTemplates'
        )
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('id', $id),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(GeneratePciDescriptionResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Signs the required PCI questionnaire.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The legal entity ID of the user that has a contractual relationship with
     *        your platform.
     * @param PciSigningRequest|null $body
     *
     * @return PciSigningResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postLegalEntitiesIdPciQuestionnairesSignPciTemplates(
        string $id,
        ?PciSigningRequest $body = null
    ): PciSigningResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/legalEntities/{id}/pciQuestionnaires/signPciTemplates'
        )
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('id', $id),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(PciSigningResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Calculate PCI status of a legal entity.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The unique identifier of the legal entity to calculate PCI status.
     * @param CalculatePciStatusRequest|null $body
     *
     * @return CalculatePciStatusResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postLegalEntitiesIdPciQuestionnairesSigningRequired(
        string $id,
        ?CalculatePciStatusRequest $body = null
    ): CalculatePciStatusResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/legalEntities/{id}/pciQuestionnaires/signingRequired'
        )
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('id', $id),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(CalculatePciStatusResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the signed PCI questionnaire.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The legal entity ID of the individual who signed the PCI questionnaire.
     * @param string $pciid The unique identifier of the signed PCI questionnaire.
     *
     * @return GetPciQuestionnaireResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getLegalEntitiesIdPciQuestionnairesPciid(string $id, string $pciid): GetPciQuestionnaireResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/legalEntities/{id}/pciQuestionnaires/{pciid}')
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('id', $id), TemplateParam::init('pciid', $pciid));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(GetPciQuestionnaireResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
