<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\RestServiceErrorException;
use AdyenLib\Models\BalancePlatform;
use AdyenLib\Models\PaginatedAccountHoldersResponse;
use AdyenLib\Models\TransactionRulesResponse;
use AdyenLib\Server;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class PlatformApi extends BaseApi
{
    /**
     * Returns a balance platform.
     *
     * @param string $id The unique identifier of the balance platform.
     *
     * @return BalancePlatform Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getBalancePlatformsId(string $id): BalancePlatform
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/balancePlatforms/{id}')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(BalancePlatform::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a paginated list of all the account holders that belong to the balance platform. To fetch
     * multiple pages, use the query parameters.
     *
     * For example, to limit the page to 5 account holders and to skip the first 20, use
     * `/balancePlatforms/{id}/accountHolders?limit=5&offset=20`.
     *
     * @param string $id The unique identifier of the balance platform.
     * @param int|null $offset The number of items that you want to skip.
     * @param int|null $limit The number of items returned per page, maximum 100 items. By default,
     *        the response returns 10 items per page.
     *
     * @return PaginatedAccountHoldersResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getBalancePlatformsIdAccountHolders(
        string $id,
        ?int $offset = null,
        ?int $limit = null
    ): PaginatedAccountHoldersResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/balancePlatforms/{id}/accountHolders')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('id', $id),
                QueryParam::init('offset', $offset),
                QueryParam::init('limit', $limit)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(PaginatedAccountHoldersResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a list of transaction rules associated with a balance platform.
     *
     * @param string $id The unique identifier of the balance platform.
     *
     * @return TransactionRulesResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getBalancePlatformsIdTransactionRules(string $id): TransactionRulesResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/balancePlatforms/{id}/transactionRules')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(TransactionRulesResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
