<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\DefaultErrorResponseEntityException;
use AdyenLib\Models\DisputeRequest;
use AdyenLib\Models\DisputeResponse;
use AdyenLib\Models\PatchableDisputeRequest;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class RaiseDisputesApi extends BaseApi
{
    /**
     * Returns a list of raised disputes that match the query parameters.
     *
     * This endpoint supports cursor-based pagination. The response returns the first page of results, and
     * returns links to the next page when applicable. You can use the links to page through the results.
     * The response also returns links to the previous page when applicable.
     *
     * @param string|null $status The current status of the dispute. Possible values: **draft**,
     *        **submitted**, **closed**, **won**, **chargeback**, **secondPresentment**.
     * @param string|null $paymentInstrument The unique identifier of the payment instrument.
     * @param string|null $createdSince Only include disputes that have been created on or after
     *        this point in time. The value must be in [ISO 8601](https://en.wikipedia.
     *        org/wiki/ISO_8601\)  format. For example, 2021-05-30T15:07:40Z.
     * @param string|null $createdUntil Only include disputes that have been created on or before
     *        this point in time. The value must be in [ISO 8601](https://en.wikipedia.
     *        org/wiki/ISO_8601\) format. For example, **2021-05-30T15:07:40Z**.
     * @param string|null $offset The number of items that you want to skip.
     * @param string|null $limit The number of items returned per page, maximum of 500 items. By
     *        default, the response returns 100 items per page.
     *
     * @return DisputeResponse[][] Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getDisputes(
        ?string $status = null,
        ?string $paymentInstrument = null,
        ?string $createdSince = null,
        ?string $createdUntil = null,
        ?string $offset = null,
        ?string $limit = null
    ): array {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/disputes')
            ->server(Server::DEFAULT23)
            ->parameters(
                QueryParam::init('status', $status),
                QueryParam::init('paymentInstrument', $paymentInstrument),
                QueryParam::init('createdSince', $createdSince),
                QueryParam::init('createdUntil', $createdUntil),
                QueryParam::init('offset', $offset),
                QueryParam::init('limit', $limit)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init('Authentication required.', DefaultErrorResponseEntityException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('A request validation error.', DefaultErrorResponseEntityException::class)
            )
            ->type(DisputeResponse::class, 2);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Raise a dispute for an underlying transaction, providing a dispute type and the amount you want to
     * dispute.
     *
     * Raising a dispute returns a dispute ID, which you can use to update details about the dispute,
     * provide supporting documentation, close the dispute, or submit the dispute for a chargeback. You can
     * also use the dispute ID to view the status of the dispute.
     *
     * @param DisputeRequest $body
     *
     * @return DisputeResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postDisputes(DisputeRequest $body): DisputeResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/disputes')
            ->server(Server::DEFAULT23)
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init('Authentication required.', DefaultErrorResponseEntityException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('A request validation error.', DefaultErrorResponseEntityException::class)
            )
            ->type(DisputeResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Get a raised dispute by ID.
     *
     * @param string $id The unique identifier of the raised dispute.
     *
     * @return DisputeResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getDisputesId(string $id): DisputeResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/disputes/{id}')
            ->server(Server::DEFAULT23)
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init('Authentication required.', DefaultErrorResponseEntityException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('A request validation error.', DefaultErrorResponseEntityException::class)
            )
            ->type(DisputeResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update information related to a raised dispute, or change a dispute's status from **draft** to
     * **submitted** or **closed**.
     *
     * **Note:** Changing the status of a dispute to **submitted** or **closed** is a final action. You
     * cannot make updates to a **submitted** or **closed** dispute. Make sure to upload all supporting
     * attachments using the `POST /disputes/{id}/attachments` endpoint before you submit a dispute. When
     * you update a dispute to **submitted**, Adyen sends the raised dispute to the card scheme for review
     * and acquirer defense. When you update a raised dispute to **closed**, Adyen closes the dispute, and
     * the dispute is no longer eligible for review by the card scheme.
     *
     * @param string $id The unique identifier of the raised dispute.
     * @param PatchableDisputeRequest|null $body
     *
     * @return DisputeResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function patchDisputesId(string $id, ?PatchableDisputeRequest $body = null): DisputeResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/disputes/{id}')
            ->server(Server::DEFAULT23)
            ->parameters(
                TemplateParam::init('id', $id),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init('Authentication required.', DefaultErrorResponseEntityException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('A request validation error.', DefaultErrorResponseEntityException::class)
            )
            ->type(DisputeResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
