<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\DefaultErrorResponseEntityException;
use AdyenLib\Models\CalculateRateRequest;
use AdyenLib\Models\CalculateRateResponse;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class RatesApi extends BaseApi
{
    /**
     * Returns the calculated amounts and rates required to convert the currency of a transaction.
     *
     * @param CalculateRateRequest $body
     *
     * @return CalculateRateResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postRatesCalculate(CalculateRateRequest $body): CalculateRateResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/rates/calculate')
            ->server(Server::DEFAULT7)
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', DefaultErrorResponseEntityException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', DefaultErrorResponseEntityException::class))
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(CalculateRateResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
