<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\DefaultErrorResponseEntityException;
use AdyenLib\Models\CreateRecurringTopUp;
use AdyenLib\Models\PatchableCreateRecurringTopUp;
use AdyenLib\Models\RecurringTopUp;
use AdyenLib\Models\RecurringTopUpsResult;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class RecurringTopUpsApi extends BaseApi
{
    /**
     * View all recurring top ups configured for a specific `balanceAccountId`.
     *
     * For more information, refer to [Manage recurring top-ups](https://docs.adyen.com/issuing/add-manage-
     * funds/top-ups/manage-recurring-top-ups).
     *
     *
     * @param string $balanceAccountId The unique identifier of the balance account.
     * @param int|null $limit The number of items to return per page. Value must be between 1 and
     *        100.
     * @param string|null $cursor The cursor used for pagination. Required if you want to see the
     *        next or previous page of results.
     *
     * @return RecurringTopUpsResult Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getBalanceAccountsBalanceAccountIdRecurringTopUps(
        string $balanceAccountId,
        ?int $limit = 10,
        ?string $cursor = null
    ): RecurringTopUpsResult {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/balanceAccounts/{balanceAccountId}/recurringTopUps'
        )
            ->server(Server::DEFAULT13)
            ->parameters(
                TemplateParam::init('balanceAccountId', $balanceAccountId),
                QueryParam::init('limit', $limit),
                QueryParam::init('cursor', $cursor)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not Found - the recurring top up was not found',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(RecurringTopUpsResult::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Create a recurring top up configuration.
     *
     * For more information, refer to [Create recurring top-ups](https://docs.adyen.com/issuing/add-manage-
     * funds/top-ups/create-recurring-top-ups).
     *
     *
     * @param string $balanceAccountId The unique identifier of the balance account.
     * @param CreateRecurringTopUp $body
     *
     * @return RecurringTopUp Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postBalanceAccountsBalanceAccountIdRecurringTopUps(
        string $balanceAccountId,
        CreateRecurringTopUp $body
    ): RecurringTopUp {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/balanceAccounts/{balanceAccountId}/recurringTopUps'
        )
            ->server(Server::DEFAULT13)
            ->parameters(
                TemplateParam::init('balanceAccountId', $balanceAccountId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(RecurringTopUp::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Delete a recurring top up configuration by `topUpId`.
     *
     * For more information, refer to [Manage recurring top-ups](https://docs.adyen.com/issuing/add-manage-
     * funds/top-ups/manage-recurring-top-ups).
     *
     *
     * @param string $balanceAccountId The unique identifier of the balance account.
     * @param string $topUpId The unique identifier of the recurring top-up you want to delete.
     *
     * @return mixed Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteBalanceAccountsBalanceAccountIdRecurringTopUpsTopUpId(
        string $balanceAccountId,
        string $topUpId
    ) {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/balanceAccounts/{balanceAccountId}/recurringTopUps/{topUpId}'
        )
            ->server(Server::DEFAULT13)
            ->parameters(
                TemplateParam::init('balanceAccountId', $balanceAccountId),
                TemplateParam::init('topUpId', $topUpId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not Found - the recurring top up was not found',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            );

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Update the configuration of an existing recurring top up.
     *
     * For more information, refer to [Manage recurring top-ups](https://docs.adyen.com/issuing/add-manage-
     * funds/top-ups/manage-recurring-top-ups).
     *
     * @param string $balanceAccountId The unique identifier of the balance account.
     * @param string $topUpId The unique identifier of the recurring top-up you want to update.
     * @param PatchableCreateRecurringTopUp $body
     *
     * @return RecurringTopUp Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function patchBalanceAccountsBalanceAccountIdRecurringTopUpsTopUpId(
        string $balanceAccountId,
        string $topUpId,
        PatchableCreateRecurringTopUp $body
    ): RecurringTopUp {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::PATCH,
            '/balanceAccounts/{balanceAccountId}/recurringTopUps/{topUpId}'
        )
            ->server(Server::DEFAULT13)
            ->parameters(
                TemplateParam::init('balanceAccountId', $balanceAccountId),
                TemplateParam::init('topUpId', $topUpId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(RecurringTopUp::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
