<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\DefaultErrorResponseEntityException;
use AdyenLib\Models\BeginScaDeviceRegistrationRequest;
use AdyenLib\Models\BeginScaDeviceRegistrationResponse;
use AdyenLib\Models\FinishScaDeviceRegistrationRequest;
use AdyenLib\Models\FinishScaDeviceRegistrationResponse;
use AdyenLib\Models\SubmitScaAssociationRequest;
use AdyenLib\Models\SubmitScaAssociationResponse;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class SCADeviceManagementApi extends BaseApi
{
    /**
     * Begins the registration process for a new Strong Customer Authentication (SCA) device.
     *
     * @param BeginScaDeviceRegistrationRequest|null $body
     *
     * @return BeginScaDeviceRegistrationResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postScaDevices(?BeginScaDeviceRegistrationRequest $body = null): BeginScaDeviceRegistrationResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/scaDevices')
            ->server(Server::DEFAULT13)
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - The request contains invalid input and fails validation.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - Authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - Insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable entity - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - The server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(BeginScaDeviceRegistrationResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deletes a Strong Customer Authentication (SCA) device.
     *
     * @param string $deviceId The unique identifier of the SCA device to delete.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteScaDevicesDeviceId(string $deviceId): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/scaDevices/{deviceId}')
            ->server(Server::DEFAULT13)
            ->parameters(TemplateParam::init('deviceId', $deviceId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - The request contains invalid input and fails validation.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - Authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - Insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('Not Found - Device not found.', DefaultErrorResponseEntityException::class)
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable entity - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - The server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            );

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Finishes the registration process for a new Strong Customer Authentication (SCA) device.
     *
     * @param string $deviceId The unique identifier of the SCA device that you are associating with
     *        a resource.
     * @param FinishScaDeviceRegistrationRequest|null $body
     *
     * @return FinishScaDeviceRegistrationResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function patchScaDevicesDeviceId(
        string $deviceId,
        ?FinishScaDeviceRegistrationRequest $body = null
    ): FinishScaDeviceRegistrationResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/scaDevices/{deviceId}')
            ->server(Server::DEFAULT13)
            ->parameters(
                TemplateParam::init('deviceId', $deviceId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - The request contains invalid input and fails validation.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - Authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - Insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('Not Found - Device not found.', DefaultErrorResponseEntityException::class)
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable entity - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - The server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(FinishScaDeviceRegistrationResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates an association between an SCA-enabled device and an entity, such as an account holder. This
     * action does not guarantee the association is immediately ready for use; its status may be
     * `pendingApproval` if the account holder has existing devices.
     *
     * @param string $deviceId The unique identifier of the SCA device that you are associating with
     *        a resource.
     * @param SubmitScaAssociationRequest|null $body
     *
     * @return SubmitScaAssociationResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postScaDevicesDeviceIdScaAssociations(
        string $deviceId,
        ?SubmitScaAssociationRequest $body = null
    ): SubmitScaAssociationResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/scaDevices/{deviceId}/scaAssociations')
            ->server(Server::DEFAULT13)
            ->parameters(
                TemplateParam::init('deviceId', $deviceId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - The request contains invalid input and fails validation.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - Authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - Insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init('Not Found - Device not found.', DefaultErrorResponseEntityException::class)
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - The server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(SubmitScaAssociationResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
