<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\DefaultErrorResponseEntityException;
use AdyenLib\Models\AuthenticationSessionRequest;
use AdyenLib\Models\AuthenticationSessionResponse;
use AdyenLib\Models\CertificateLoadingRequest;
use AdyenLib\Models\CertificateLoadingResponse;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class SessionAuthenticationApi extends BaseApi
{
    /**
     * Creates a session token that is required to integrate [components](https://docs.adyen.
     * com/platforms/components-overview).
     *
     * The response contains encrypted session data. The front end then uses the session data to make the
     * required server-side calls for the component.
     *
     * To create a token, you must meet specific requirements. These requirements vary depending on the
     * type of component. For more information, see the documentation for [Onboarding](https://docs.adyen.
     * com/platforms/onboard-users/components) and [Platform Experience](https://docs.adyen.
     * com/platforms/build-user-dashboards) components.
     *
     *
     *
     * @param AuthenticationSessionRequest $body
     *
     * @return AuthenticationSessionResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postSessions(AuthenticationSessionRequest $body): AuthenticationSessionResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/sessions')
            ->server(Server::DEFAULT17)
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Bad request', DefaultErrorResponseEntityException::class))
            ->throwErrorOn('401', ErrorType::init('Unauthorized', DefaultErrorResponseEntityException::class))
            ->throwErrorOn('403', ErrorType::init('Forbidden', DefaultErrorResponseEntityException::class))
            ->type(AuthenticationSessionResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Establishes a secure communication session between the Mobile SDK and the Adyen payments platform,
     * through mutual authentication. The request sends a setup token that identifies the SDK and the
     * device. The response returns a session token that the SDK can use to authenticate responses received
     * from the Adyen payments platform.
     *
     * @param string|null $xAPIKey The API key to authenticate API requests.
     * @param CertificateLoadingRequest|null $body
     *
     * @return CertificateLoadingResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postAuthCertificate(
        ?string $xAPIKey = null,
        ?CertificateLoadingRequest $body = null
    ): CertificateLoadingResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/auth/certificate')
            ->server(Server::DEFAULT25)
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('X-API-Key', $xAPIKey),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Bad request - validation failed.', DefaultErrorResponseEntityException::class)
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable entity - session request could not be processed.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Internal server error.', DefaultErrorResponseEntityException::class)
            )
            ->type(CertificateLoadingResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
