<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\ServiceErrorError1Exception;
use AdyenLib\Models\CheckTaxElectronicDeliveryConsentResponse;
use AdyenLib\Models\SetTaxElectronicDeliveryConsentRequest;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class TaxEDeliveryConsentApi extends BaseApi
{
    /**
     * Returns the consent status for electronic delivery of tax forms.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The unique identifier of the legal entity. For sole proprietorships, this
     *        is the individual legal entity ID of the owner. For organizations, this is the ID of
     *        the organization.
     *
     * @return CheckTaxElectronicDeliveryConsentResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postLegalEntitiesIdCheckTaxElectronicDeliveryConsent(
        string $id
    ): CheckTaxElectronicDeliveryConsentResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/legalEntities/{id}/checkTaxElectronicDeliveryConsent'
        )->server(Server::DEFAULT18)->auth('BasicAuth', 'ApiKeyAuth')->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(CheckTaxElectronicDeliveryConsentResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Set the consent status for electronic delivery of tax forms.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The unique identifier of the legal entity. For sole proprietorships, this
     *        is the individual legal entity ID of the owner. For organizations, this is the ID of
     *        the organization.
     * @param SetTaxElectronicDeliveryConsentRequest|null $body
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postLegalEntitiesIdSetTaxElectronicDeliveryConsent(
        string $id,
        ?SetTaxElectronicDeliveryConsentRequest $body = null
    ): void {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/legalEntities/{id}/setTaxElectronicDeliveryConsent'
        )
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('id', $id),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            );

        $this->execute($_reqBuilder, $_resHandler);
    }
}
