<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\ServiceErrorError1Exception;
use AdyenLib\Models\AcceptTermsOfServiceRequest;
use AdyenLib\Models\AcceptTermsOfServiceResponse;
use AdyenLib\Models\CalculateTermsOfServiceStatusResponse;
use AdyenLib\Models\GetAcceptedTermsOfServiceDocumentResponse;
use AdyenLib\Models\GetTermsOfServiceAcceptanceInfosResponse;
use AdyenLib\Models\GetTermsOfServiceDocumentRequest;
use AdyenLib\Models\GetTermsOfServiceDocumentResponse;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class TermsOfServiceApi extends BaseApi
{
    /**
     * Returns the accepted Terms of Service document for a legal entity.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The unique identifier of the legal entity. For sole proprietorship, this is
     *        the individual legal entity ID of the owner. For organizations, this is the ID of
     *        the organization.
     * @param string $termsofserviceacceptancereference An Adyen-generated reference for the
     *        accepted Terms of Service.
     * @param string|null $termsOfServiceDocumentFormat The format of the Terms of Service document.
     *        Possible values: **JSON**, **PDF**, or **TXT**
     *
     * @return GetAcceptedTermsOfServiceDocumentResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getLegalEntitiesIdAcceptedTermsOfServiceDocumentTermsofserviceacceptancereference(
        string $id,
        string $termsofserviceacceptancereference,
        ?string $termsOfServiceDocumentFormat = null
    ): GetAcceptedTermsOfServiceDocumentResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/legalEntities/{id}/acceptedTermsOfServiceDocument/{termsofserviceacceptancereference}'
        )
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('id', $id),
                TemplateParam::init('termsofserviceacceptancereference', $termsofserviceacceptancereference),
                QueryParam::init('termsOfServiceDocumentFormat', $termsOfServiceDocumentFormat)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(GetAcceptedTermsOfServiceDocumentResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the Terms of Service document for a legal entity.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The unique identifier of the legal entity. For sole proprietorships, this
     *        is the individual legal entity ID of the owner. For organizations, this is the ID of
     *        the organization.
     * @param GetTermsOfServiceDocumentRequest|null $body
     *
     * @return GetTermsOfServiceDocumentResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postLegalEntitiesIdTermsOfService(
        string $id,
        ?GetTermsOfServiceDocumentRequest $body = null
    ): GetTermsOfServiceDocumentResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/legalEntities/{id}/termsOfService')
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('id', $id),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(GetTermsOfServiceDocumentResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Accepts Terms of Service.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The unique identifier of the legal entity. For sole proprietorships, this
     *        is the individual legal entity ID of the owner.
     *
     *        For organizations, this is the ID of the organization.
     *
     *        For legal representatives of individuals, this is the ID of the individual.
     * @param string $termsofservicedocumentid The unique identifier of the Terms of Service
     *        document.
     * @param AcceptTermsOfServiceRequest|null $body
     *
     * @return AcceptTermsOfServiceResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function patchLegalEntitiesIdTermsOfServiceTermsofservicedocumentid(
        string $id,
        string $termsofservicedocumentid,
        ?AcceptTermsOfServiceRequest $body = null
    ): AcceptTermsOfServiceResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::PATCH,
            '/legalEntities/{id}/termsOfService/{termsofservicedocumentid}'
        )
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('id', $id),
                TemplateParam::init('termsofservicedocumentid', $termsofservicedocumentid),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(AcceptTermsOfServiceResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns Terms of Service information for a legal entity.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The unique identifier of the legal entity. For sole proprietorships, this
     *        is the individual legal entity ID of the owner. For organizations, this is the ID of
     *        the organization.
     *
     * @return GetTermsOfServiceAcceptanceInfosResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getLegalEntitiesIdTermsOfServiceAcceptanceInfos(
        string $id
    ): GetTermsOfServiceAcceptanceInfosResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/legalEntities/{id}/termsOfServiceAcceptanceInfos'
        )->server(Server::DEFAULT18)->auth('BasicAuth', 'ApiKeyAuth')->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(GetTermsOfServiceAcceptanceInfosResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the required types of Terms of Service that need to be accepted by a legal entity.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The unique identifier of the legal entity. For sole proprietorships, this
     *        is the individual legal entity ID of the owner. For organizations, this is the ID of
     *        the organization.
     *
     * @return CalculateTermsOfServiceStatusResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getLegalEntitiesIdTermsOfServiceStatus(string $id): CalculateTermsOfServiceStatusResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/legalEntities/{id}/termsOfServiceStatus')
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(CalculateTermsOfServiceStatusResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
