<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\RestServiceErrorException;
use AdyenLib\Models\ScheduleTerminalActionsRequest;
use AdyenLib\Models\ScheduleTerminalActionsResponse;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class TerminalActionsTerminalLevelApi extends BaseApi
{
    /**
     * Schedules a [terminal action](https://docs.adyen.com/point-of-sale/automating-terminal-
     * management/terminal-actions-api) by specifying the action and the terminals that the action must be
     * applied to.
     *
     * The following restrictions apply:
     * * You can schedule only one action at a time. For example, to install a new app version and remove
     * an old app version, you have to make two API requests.
     * * The maximum number of terminals in a request is **100**. For example, to apply an action to 250
     * terminals, you have to divide the terminals over three API requests.
     * * If there is an error with one or more terminal IDs in the request, the action is scheduled for
     * none of the terminals. You need to fix the error and try again.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Terminal actions read and write
     *
     * In the live environment, requests to this endpoint are subject to [rate limits](https://docs.adyen.
     * com/point-of-sale/automating-terminal-management#rate-limits-in-the-live-environment).
     *
     * @param ScheduleTerminalActionsRequest|null $body
     *
     * @return ScheduleTerminalActionsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postTerminalsScheduleActions(
        ?ScheduleTerminalActionsRequest $body = null
    ): ScheduleTerminalActionsResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/terminals/scheduleActions')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(ScheduleTerminalActionsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
