<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\RestServiceErrorException;
use AdyenLib\Models\BillingEntitiesResponse;
use AdyenLib\Models\ShippingLocation;
use AdyenLib\Models\ShippingLocationsResponse;
use AdyenLib\Models\TerminalModelsResponse;
use AdyenLib\Models\TerminalOrder;
use AdyenLib\Models\TerminalOrderRequest;
use AdyenLib\Models\TerminalOrdersResponse;
use AdyenLib\Models\TerminalProductsResponse;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class TerminalOrdersCompanyLevelApi extends BaseApi
{
    /**
     * Returns the billing entities of the company identified in the path and all merchant accounts
     * belonging to the company.
     * A billing entity is a legal entity where we charge orders to. An order for terminal products must
     * contain the ID of a billing entity.
     *
     * To make this request, your API credential must have one of the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Terminal ordering read
     * * Management API—Terminal ordering read and write
     *
     * In the live environment, requests to this endpoint are subject to [rate limits](https://docs.adyen.
     * com/point-of-sale/automating-terminal-management#rate-limits-in-the-live-environment).
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string|null $name The name of the billing entity.
     *
     * @return BillingEntitiesResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getCompaniesCompanyIdBillingEntities(
        string $companyId,
        ?string $name = null
    ): BillingEntitiesResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/companies/{companyId}/billingEntities')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('companyId', $companyId), QueryParam::init('name', $name));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(BillingEntitiesResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the shipping locations for the company identified in the path and all merchant accounts
     * belonging to the company.
     * A shipping location includes the address where orders can be delivered, and an ID which you need to
     * specify when ordering terminal products.
     *
     * To make this request, your API credential must have one of the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Terminal ordering read
     * * Management API—Terminal ordering read and write
     *
     * In the live environment, requests to this endpoint are subject to [rate limits](https://docs.adyen.
     * com/point-of-sale/automating-terminal-management#rate-limits-in-the-live-environment).
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string|null $name The name of the shipping location.
     * @param int|null $offset The number of locations to skip.
     * @param int|null $limit The number of locations to return.
     *
     * @return ShippingLocationsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getCompaniesCompanyIdShippingLocations(
        string $companyId,
        ?string $name = null,
        ?int $offset = null,
        ?int $limit = null
    ): ShippingLocationsResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/companies/{companyId}/shippingLocations')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId),
                QueryParam::init('name', $name),
                QueryParam::init('offset', $offset),
                QueryParam::init('limit', $limit)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(ShippingLocationsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates a shipping location for the company identified in the path. A shipping location defines an
     * address where orders can be delivered.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Terminal ordering read and write
     *
     * In the live environment, requests to this endpoint are subject to [rate limits](https://docs.adyen.
     * com/point-of-sale/automating-terminal-management#rate-limits-in-the-live-environment).
     *
     * @param string $companyId The unique identifier of the company account.
     * @param ShippingLocation|null $body
     *
     * @return ShippingLocation Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postCompaniesCompanyIdShippingLocations(
        string $companyId,
        ?ShippingLocation $body = null
    ): ShippingLocation {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/companies/{companyId}/shippingLocations')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(ShippingLocation::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a list of payment terminal models that the company identified in the path has access to.
     * The response includes the terminal model ID, which can be used as a query parameter when getting a
     * list of terminals or a list of products for ordering.
     *
     * To make this request, your API credential must have one of the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Terminal ordering read
     * * Management API—Terminal ordering read and write
     *
     * In the live environment, requests to this endpoint are subject to [rate limits](https://docs.adyen.
     * com/point-of-sale/automating-terminal-management#rate-limits-in-the-live-environment).
     *
     * @param string $companyId The unique identifier of the company account.
     *
     * @return TerminalModelsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getCompaniesCompanyIdTerminalModels(string $companyId): TerminalModelsResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/companies/{companyId}/terminalModels')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('companyId', $companyId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(TerminalModelsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a lists of terminal products orders for the company identified in the path.
     * To filter the list, use one or more of the query parameters.
     *
     * To make this request, your API credential must have one of the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Terminal ordering read
     * * Management API—Terminal ordering read and write
     *
     * In the live environment, requests to this endpoint are subject to [rate limits](https://docs.adyen.
     * com/point-of-sale/automating-terminal-management#rate-limits-in-the-live-environment).
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string|null $customerOrderReference Your purchase order number.
     * @param string|null $status The order status. Possible values (not case-sensitive): Placed,
     *        Confirmed, Cancelled, Shipped, Delivered.
     * @param int|null $offset The number of orders to skip.
     * @param int|null $limit The number of orders to return.
     *
     * @return TerminalOrdersResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getCompaniesCompanyIdTerminalOrders(
        string $companyId,
        ?string $customerOrderReference = null,
        ?string $status = null,
        ?int $offset = null,
        ?int $limit = null
    ): TerminalOrdersResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/companies/{companyId}/terminalOrders')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId),
                QueryParam::init('customerOrderReference', $customerOrderReference),
                QueryParam::init('status', $status),
                QueryParam::init('offset', $offset),
                QueryParam::init('limit', $limit)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(TerminalOrdersResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates an order for payment terminal products for the company identified in the path.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Terminal ordering read and write
     * >Requests to the Management API test endpoint do not create actual orders for test terminals. To
     * order test terminals, you need to [submit a sales order](https://docs.adyen.com/point-of-
     * sale/managing-terminals/order-terminals/#sales-order-steps) in your Customer Area.
     *
     * In the live environment, requests to this endpoint are subject to [rate limits](https://docs.adyen.
     * com/point-of-sale/automating-terminal-management#rate-limits-in-the-live-environment).
     *
     * @param string $companyId The unique identifier of the company account.
     * @param TerminalOrderRequest|null $body
     *
     * @return TerminalOrder Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postCompaniesCompanyIdTerminalOrders(
        string $companyId,
        ?TerminalOrderRequest $body = null
    ): TerminalOrder {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/companies/{companyId}/terminalOrders')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(TerminalOrder::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the details of the terminal products order identified in the path.
     *
     * To make this request, your API credential must have one of the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Terminal ordering read
     * * Management API—Terminal ordering read and write
     *
     * In the live environment, requests to this endpoint are subject to [rate limits](https://docs.adyen.
     * com/point-of-sale/automating-terminal-management#rate-limits-in-the-live-environment).
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $orderId The unique identifier of the order.
     *
     * @return TerminalOrder Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getCompaniesCompanyIdTerminalOrdersOrderId(string $companyId, string $orderId): TerminalOrder
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/companies/{companyId}/terminalOrders/{orderId}')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('companyId', $companyId), TemplateParam::init('orderId', $orderId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(TerminalOrder::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates the terminal products order identified in the path.
     * Updating is only possible while the order has the status **Placed**.
     *
     * The request body only needs to contain what you want to change.
     * However, to update the products in the `items` array, you must provide the entire array. For example,
     * if the array has three items:
     * To remove one item, the array must include the remaining two items. Or to add one item, the array
     * must include all four items.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Terminal ordering read and write
     *
     * In the live environment, requests to this endpoint are subject to [rate limits](https://docs.adyen.
     * com/point-of-sale/automating-terminal-management#rate-limits-in-the-live-environment).
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $orderId The unique identifier of the order.
     * @param TerminalOrderRequest|null $body
     *
     * @return TerminalOrder Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function patchCompaniesCompanyIdTerminalOrdersOrderId(
        string $companyId,
        string $orderId,
        ?TerminalOrderRequest $body = null
    ): TerminalOrder {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::PATCH,
            '/companies/{companyId}/terminalOrders/{orderId}'
        )
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId),
                TemplateParam::init('orderId', $orderId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(TerminalOrder::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Cancels the terminal products order identified in the path.
     * Cancelling is only possible while the order has the status **Placed**.
     * To cancel an order, make a POST call without a request body. The response returns the full order
     * details, but with the status changed to **Cancelled**.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Terminal ordering read and write
     *
     * In the live environment, requests to this endpoint are subject to [rate limits](https://docs.adyen.
     * com/point-of-sale/automating-terminal-management#rate-limits-in-the-live-environment).
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $orderId The unique identifier of the order.
     *
     * @return TerminalOrder Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postCompaniesCompanyIdTerminalOrdersOrderIdCancel(
        string $companyId,
        string $orderId
    ): TerminalOrder {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/companies/{companyId}/terminalOrders/{orderId}/cancel'
        )
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('companyId', $companyId), TemplateParam::init('orderId', $orderId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(TerminalOrder::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a country-specific list of payment terminal packages and parts that the company identified
     * in the path has access to.
     *
     * To make this request, your API credential must have one of the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Terminal ordering read
     * * Management API—Terminal ordering read and write
     *
     * In the live environment, requests to this endpoint are subject to [rate limits](https://docs.adyen.
     * com/point-of-sale/automating-terminal-management#rate-limits-in-the-live-environment).
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $country The country to return products for, in [ISO 3166-1
     *        alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) format. For example,
     *        **US**
     * @param string|null $terminalModelId The terminal model to return products for. Use the ID
     *        returned in the [GET `/terminalModels`](https://docs.adyen.com/api-
     *        explorer/#/ManagementService/latest/get/companies/{companyId}/terminalModels)
     *        response. For example, **Verifone.M400**
     * @param int|null $offset The number of products to skip.
     * @param int|null $limit The number of products to return.
     *
     * @return TerminalProductsResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getCompaniesCompanyIdTerminalProducts(
        string $companyId,
        string $country,
        ?string $terminalModelId = null,
        ?int $offset = null,
        ?int $limit = null
    ): TerminalProductsResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/companies/{companyId}/terminalProducts')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId),
                QueryParam::init('country', $country),
                QueryParam::init('terminalModelId', $terminalModelId),
                QueryParam::init('offset', $offset),
                QueryParam::init('limit', $limit)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(TerminalProductsResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
