<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\RestServiceErrorException;
use AdyenLib\Models\SortOrderEnum;
use AdyenLib\Models\Transaction;
use AdyenLib\Models\TransactionSearchResponse;
use AdyenLib\Server;
use AdyenLib\Utils\DateTimeHelper;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class TransactionsApi extends BaseApi
{
    /**
     * >Versions 1 and 2 of the Transfers API are deprecated. If you are just starting your implementation,
     * use the latest version.
     *
     * Returns all the transactions related to a balance account, account holder, or balance platform.
     *
     * When making this request, you must include at least one of the following:
     * - `balanceAccountId`
     * - `accountHolderId`
     * - `balancePlatform`.
     *
     * This endpoint supports cursor-based pagination. The response returns the first page of results, and
     * returns links to the next and previous pages when applicable. You can use the links to page through
     * the results.
     *
     *
     *
     * @param \DateTime $createdSince Only include transactions that have been created on or after
     *        this point in time. The value must be in ISO 8601 format. For example, **2021-05-
     *        30T15:07:40Z**.
     * @param \DateTime $createdUntil Only include transactions that have been created on or before
     *        this point in time. The value must be in ISO 8601 format. For example, **2021-05-
     *        30T15:07:40Z**.
     * @param string|null $balancePlatform The unique identifier of the [balance
     *        platform](https://docs.adyen.com/api-
     *        explorer/#/balanceplatform/latest/get/balancePlatforms/{id}__queryParam_id).
     *
     *        Required if you don't provide a `balanceAccountId` or `accountHolderId`.
     * @param string|null $paymentInstrumentId The unique identifier of the [payment
     *        instrument](https://docs.adyen.com/api-
     *        explorer/balanceplatform/latest/get/paymentInstruments/_id_).
     *
     *        To use this parameter, you must also provide a `balanceAccountId`, `accountHolderId`,
     *        or `balancePlatform`.
     *
     *        The `paymentInstrumentId` must be related to the `balanceAccountId` or
     *        `accountHolderId` that you provide.
     * @param string|null $accountHolderId The unique identifier of the [account
     *        holder](https://docs.adyen.com/api-
     *        explorer/#/balanceplatform/latest/get/accountHolders/{id}__queryParam_id).
     *
     *        Required if you don't provide a `balanceAccountId` or `balancePlatform`.
     *
     *        If you provide a `balanceAccountId`, the `accountHolderId` must be related to the
     *        `balanceAccountId`.
     * @param string|null $balanceAccountId The unique identifier of the [balance
     *        account](https://docs.adyen.com/api-
     *        explorer/#/balanceplatform/latest/get/balanceAccounts/{id}__queryParam_id).
     *
     *        Required if you don't provide an `accountHolderId` or `balancePlatform`.
     *
     *        If you provide an `accountHolderId`, the `balanceAccountId` must be related to the
     *        `accountHolderId`.
     * @param string|null $cursor The `cursor` returned in the links of the previous response.
     * @param string|null $sortOrder Determines the sort order of the returned transactions. The
     *        sort order is based on the creation date of the transaction.
     *
     *        Possible values:
     *
     *        - **asc**: Ascending order, from oldest to most recent.
     *
     *        - **desc**: Descending order, from most recent to oldest.
     *
     *        Default value: **asc**.
     * @param int|null $limit The number of items returned per page, maximum of 100 items. By
     *        default, the response returns 10 items per page.
     *
     * @return TransactionSearchResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getTransactions(
        \DateTime $createdSince,
        \DateTime $createdUntil,
        ?string $balancePlatform = null,
        ?string $paymentInstrumentId = null,
        ?string $accountHolderId = null,
        ?string $balanceAccountId = null,
        ?string $cursor = null,
        ?string $sortOrder = null,
        ?int $limit = null
    ): TransactionSearchResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/transactions')
            ->server(Server::DEFAULT14)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(
                QueryParam::init('createdSince', $createdSince)
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('createdUntil', $createdUntil)
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('balancePlatform', $balancePlatform),
                QueryParam::init('paymentInstrumentId', $paymentInstrumentId),
                QueryParam::init('accountHolderId', $accountHolderId),
                QueryParam::init('balanceAccountId', $balanceAccountId),
                QueryParam::init('cursor', $cursor),
                QueryParam::init('sortOrder', $sortOrder)->serializeBy([SortOrderEnum::class, 'checkValue']),
                QueryParam::init('limit', $limit)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(TransactionSearchResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * >Versions 1 and 2 of the Transfers API are deprecated. If you are just starting your implementation,
     * use the latest version.
     *
     * Returns a transaction.
     *
     * @param string $id The unique identifier of the transaction.
     *
     * @return Transaction Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getTransactionsId(string $id): Transaction
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/transactions/{id}')
            ->server(Server::DEFAULT14)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(Transaction::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
