<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\RestServiceErrorException;
use AdyenLib\Models\TransactionRule;
use AdyenLib\Models\TransactionRuleInfo;
use AdyenLib\Models\TransactionRuleResponse;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class TransactionRulesApi extends BaseApi
{
    /**
     * Creates a [transaction rule](https://docs.adyen.com/issuing/transaction-rules). When your user makes
     * a transaction with their Adyen-issued card, the transaction is allowed or declined based on the
     * conditions and outcome defined in the transaction rule. You can apply the transaction rule to
     * several cards, such as all the cards in your platform, or to a specific card. For use cases, see
     * [examples](https://docs.adyen.com/issuing/transaction-rules/examples).
     *
     * @param TransactionRuleInfo|null $body
     *
     * @return TransactionRule Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postTransactionRules(?TransactionRuleInfo $body = null): TransactionRule
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/transactionRules')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(TransactionRule::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the details of a transaction rule.
     *
     * @param string $transactionRuleId The unique identifier of the transaction rule.
     *
     * @return TransactionRuleResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getTransactionRulesTransactionRuleId(string $transactionRuleId): TransactionRuleResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/transactionRules/{transactionRuleId}')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('transactionRuleId', $transactionRuleId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(TransactionRuleResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deletes a transaction rule.
     *
     * @param string $transactionRuleId The unique identifier of the transaction rule.
     *
     * @return TransactionRule Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteTransactionRulesTransactionRuleId(string $transactionRuleId): TransactionRule
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/transactionRules/{transactionRuleId}')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('transactionRuleId', $transactionRuleId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(TransactionRule::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates a transaction rule.
     *
     * * To update only the status of a transaction rule, send only the `status` parameter. All other
     * parameters not provided in the request are left unchanged.
     *
     * * When updating any other parameter, you need to send all existing resource parameters. If you omit
     * a parameter in the request, that parameter is removed from the resource.
     *
     * @param string $transactionRuleId The unique identifier of the transaction rule.
     * @param TransactionRuleInfo|null $body
     *
     * @return TransactionRule Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function patchTransactionRulesTransactionRuleId(
        string $transactionRuleId,
        ?TransactionRuleInfo $body = null
    ): TransactionRule {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/transactionRules/{transactionRuleId}')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('transactionRuleId', $transactionRuleId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(TransactionRule::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
