<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\RestServiceErrorException;
use AdyenLib\Models\TransferRouteRequest;
use AdyenLib\Models\TransferRouteResponse;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class TransferRoutesApi extends BaseApi
{
    /**
     * Returns available transfer routes based on a combination of transfer `country`, `currency`,
     * `counterparty`, and `priorities`. Use this endpoint to find optimal transfer priorities and
     * associated requirements before you [make a transfer](https://docs.adyen.com/api-
     * explorer/transfers/latest/post/transfers).
     *
     * @param TransferRouteRequest|null $body
     *
     * @return TransferRouteResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postTransferRoutesCalculate(?TransferRouteRequest $body = null): TransferRouteResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/transferRoutes/calculate')
            ->server(Server::DEFAULT13)
            ->auth('clientKey', 'BasicAuth', 'ApiKeyAuth')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(TransferRouteResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
