<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\DefaultErrorResponseEntityException;
use AdyenLib\Models\ApproveTransferLimitRequest;
use AdyenLib\Models\CreateTransferLimitRequest;
use AdyenLib\Models\LimitStatusEnum;
use AdyenLib\Models\ScopeEnum;
use AdyenLib\Models\TransferLimit;
use AdyenLib\Models\TransferLimitListResponse;
use AdyenLib\Models\TransferTypeEnum;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class TransferLimitsBalanceAccountLevelApi extends BaseApi
{
    /**
     * Filter and view the transfer limits configured for a balance account using the balance account's
     * unique `id` and the available query parameters.
     *
     *
     * @param string $id The unique identifier of the balance account.
     * @param string|null $scope The scope to which the transfer limit applies. Possible values: *
     *        **perTransaction**: you set a maximum amount for each transfer made from the balance
     *        account or balance platform.
     *        * **perDay**: you set a maximum total amount for all transfers made from the balance
     *        account or balance platform in a day.
     * @param string|null $transferType The type of transfer to which the limit applies. Possible
     *        values:
     *        * **instant**: the limit applies to transfers with an **instant** priority.
     *        * **all**: the limit applies to all transfers, regardless of priority.
     * @param string|null $status The status of the transfer limit. Possible values: * **active**:
     *        the limit is currently active.
     *        * **inactive**: the limit is currently inactive.
     *        * **pendingSCA**: the limit is pending until your user performs SCA.
     *        * **scheduled**: the limit is scheduled to become active at a future date.
     *
     * @return TransferLimitListResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getBalanceAccountsIdTransferLimits(
        string $id,
        ?string $scope = null,
        ?string $transferType = null,
        ?string $status = null
    ): TransferLimitListResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/balanceAccounts/{id}/transferLimits')
            ->server(Server::DEFAULT13)
            ->parameters(
                TemplateParam::init('id', $id),
                QueryParam::init('scope', $scope)->serializeBy([ScopeEnum::class, 'checkValue']),
                QueryParam::init('transferType', $transferType)->serializeBy([TransferTypeEnum::class, 'checkValue']),
                QueryParam::init('status', $status)->serializeBy([LimitStatusEnum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not found - One of the transfer limits could not be found.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Content - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(TransferLimitListResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Create a transfer limit for your balance account using the unique `id` of your balance account.
     *
     *
     * @param string $id The unique identifier of the balance account.
     * @param CreateTransferLimitRequest $body
     * @param string|null $wWWAuthenticate Header for authenticating through SCA
     *
     * @return TransferLimit Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postBalanceAccountsIdTransferLimits(
        string $id,
        CreateTransferLimitRequest $body,
        ?string $wWWAuthenticate = null
    ): TransferLimit {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/balanceAccounts/{id}/transferLimits')
            ->server(Server::DEFAULT13)
            ->parameters(
                TemplateParam::init('id', $id),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                HeaderParam::init('WWW-Authenticate', $wWWAuthenticate)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - The input is invalid, or no registered device for SCA was found.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - Authentication required via Strong Customer Authentication ' .
                    '(SCA). The client must resolve the provided challenge.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Content - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(TransferLimit::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Approve transfer limits that are pending SCA authentication.
     *
     *
     * @param string $id The unique identifier of the balance account.
     * @param ApproveTransferLimitRequest $body
     * @param string|null $wWWAuthenticate Header for authenticating using SCA.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postBalanceAccountsIdTransferLimitsApprove(
        string $id,
        ApproveTransferLimitRequest $body,
        ?string $wWWAuthenticate = null
    ): void {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/balanceAccounts/{id}/transferLimits/approve')
            ->server(Server::DEFAULT13)
            ->parameters(
                TemplateParam::init('id', $id),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                HeaderParam::init('WWW-Authenticate', $wWWAuthenticate)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - Authentication required via Strong Customer Authentication ' .
                    '(SCA). The client must resolve the provided challenge.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not found - One of the transfer limits could not be found.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Content - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            );

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Get all transfer limits that currently apply to a balance account using the unique `id` of the
     * balance account.
     *
     *
     * @param string $id The unique identifier of the balance account.
     * @param string|null $scope The scope to which the transfer limit applies. Possible values: *
     *        **perTransaction**: you set a maximum amount for each transfer made from the balance
     *        account or balance platform.
     *        * **perDay**: you set a maximum total amount for all transfers made from the balance
     *        account or balance platform in a day.
     * @param string|null $transferType The type of transfer to which the limit applies. Possible
     *        values:
     *        * **instant**: the limit applies to transfers with an **instant** priority.
     *        * **all**: the limit applies to all transfers, regardless of priority.
     *
     * @return TransferLimitListResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getBalanceAccountsIdTransferLimitsCurrent(
        string $id,
        ?string $scope = null,
        ?string $transferType = null
    ): TransferLimitListResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/balanceAccounts/{id}/transferLimits/current')
            ->server(Server::DEFAULT13)
            ->parameters(
                TemplateParam::init('id', $id),
                QueryParam::init('scope', $scope)->serializeBy([ScopeEnum::class, 'checkValue']),
                QueryParam::init('transferType', $transferType)->serializeBy([TransferTypeEnum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not found - One of the transfer limits could not be found.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Content - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(TransferLimitListResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Get the details of a transfer limit using its unique `transferLimitId`.
     *
     *
     * @param string $id The unique identifier of the balance account.
     * @param string $transferLimitId The unique identifier of the transfer limit.
     *
     * @return TransferLimit Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getBalanceAccountsIdTransferLimitsTransferLimitId(
        string $id,
        string $transferLimitId
    ): TransferLimit {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/balanceAccounts/{id}/transferLimits/{transferLimitId}'
        )
            ->server(Server::DEFAULT13)
            ->parameters(TemplateParam::init('id', $id), TemplateParam::init('transferLimitId', $transferLimitId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not found - One of the transfer limits could not be found.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Content - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(TransferLimit::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Delete a scheduled or pending transfer limit using its unique `transferLimitId`. You cannot delete
     * an active limit.
     *
     *
     * @param string $id The unique identifier of the balance account.
     * @param string $transferLimitId The unique identifier of the transfer limit.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteBalanceAccountsIdTransferLimitsTransferLimitId(string $id, string $transferLimitId): void
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/balanceAccounts/{id}/transferLimits/{transferLimitId}'
        )
            ->server(Server::DEFAULT13)
            ->parameters(TemplateParam::init('id', $id), TemplateParam::init('transferLimitId', $transferLimitId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not found - One of the transfer limits could not be found.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Content - A request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            );

        $this->execute($_reqBuilder, $_resHandler);
    }
}
