<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\ServiceErrorError1Exception;
use AdyenLib\Models\TransferInstrument;
use AdyenLib\Models\TransferInstrumentInfo;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class TransferInstrumentsApi extends BaseApi
{
    /**
     * Creates a transfer instrument.
     *
     * A transfer instrument is a bank account that a legal entity owns. Adyen performs verification checks
     * on the transfer instrument as required by payment industry regulations. We inform you of the
     * verification results through webhooks or API responses.
     *
     * When the transfer instrument passes the verification checks, you can start sending funds from the
     * balance platform to the transfer instrument (such as payouts).
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string|null $xRequestedVerificationCode Use a suberror code as your requested
     *        verification code. You can include one code at a time in your request header.
     *        Requested verification codes can only be used in your test environment.
     * @param TransferInstrumentInfo|null $body
     *
     * @return TransferInstrument Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postTransferInstruments(
        ?string $xRequestedVerificationCode = null,
        ?TransferInstrumentInfo $body = null
    ): TransferInstrument {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/transferInstruments')
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('x-requested-verification-code', $xRequestedVerificationCode),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(TransferInstrument::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the details of a transfer instrument.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The unique identifier of the transfer instrument.
     *
     * @return TransferInstrument Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getTransferInstrumentsId(string $id): TransferInstrument
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/transferInstruments/{id}')
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(TransferInstrument::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deletes a transfer instrument.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The unique identifier of the transfer instrument to be deleted.
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteTransferInstrumentsId(string $id): void
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/transferInstruments/{id}')
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('id', $id));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            );

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates a transfer instrument.
     *
     * Requests to this endpoint are subject to rate limits:
     *
     * - Live environments: 700 requests per 5 seconds.
     *
     * - Test environments: 200 requests per 5 seconds.
     *
     * - Failed requests are subject to a limit of 5 failures per 10 seconds.
     *
     *
     *
     * @param string $id The unique identifier of the transfer instrument.
     * @param string|null $xRequestedVerificationCode Use the requested verification code 0_0001 to
     *        resolve any suberrors associated with the transfer instrument. Requested
     *        verification codes can only be used in your test environment.
     * @param TransferInstrumentInfo|null $body
     *
     * @return TransferInstrument Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function patchTransferInstrumentsId(
        string $id,
        ?string $xRequestedVerificationCode = null,
        ?TransferInstrumentInfo $body = null
    ): TransferInstrument {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/transferInstruments/{id}')
            ->server(Server::DEFAULT18)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('id', $id),
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('x-requested-verification-code', $xRequestedVerificationCode),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorError1Exception::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    ServiceErrorError1Exception::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorError1Exception::class
                )
            )
            ->type(TransferInstrument::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
