<?php

declare(strict_types=1);

/*
 * Adyen
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenLib\Apis;

use AdyenLib\Exceptions\ApiException;
use AdyenLib\Exceptions\RestServiceErrorException;
use AdyenLib\Models\CompanyUser;
use AdyenLib\Models\CreateCompanyUserRequest;
use AdyenLib\Models\CreateCompanyUserResponse;
use AdyenLib\Models\ListCompanyUsersResponse;
use AdyenLib\Models\UpdateCompanyUserRequest;
use AdyenLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class UsersCompanyLevelApi extends BaseApi
{
    /**
     * Returns the list of users for the `companyId` identified in the path.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Users read and write
     *
     *
     * @param string $companyId The unique identifier of the company account.
     * @param int|null $pageNumber The number of the page to return.
     * @param int|null $pageSize The number of items to have on a page. Maximum value is **100**.
     *        The default is **10** items on a page.
     * @param string|null $username The partial or complete username to select all users that match.
     *
     * @return ListCompanyUsersResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getCompaniesCompanyIdUsers(
        string $companyId,
        ?int $pageNumber = null,
        ?int $pageSize = null,
        ?string $username = null
    ): ListCompanyUsersResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/companies/{companyId}/users')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId),
                QueryParam::init('pageNumber', $pageNumber),
                QueryParam::init('pageSize', $pageSize),
                QueryParam::init('username', $username)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(ListCompanyUsersResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates the user for the `companyId` identified in the path.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Users read and write
     *
     *
     * @param string $companyId The unique identifier of the company account.
     * @param CreateCompanyUserRequest|null $body
     *
     * @return CreateCompanyUserResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function postCompaniesCompanyIdUsers(
        string $companyId,
        ?CreateCompanyUserRequest $body = null
    ): CreateCompanyUserResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/companies/{companyId}/users')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(CreateCompanyUserResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns user details for the `userId` and the `companyId` identified in the path.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Users read and write
     *
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $userId The unique identifier of the user.
     *
     * @return CompanyUser Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getCompaniesCompanyIdUsersUserId(string $companyId, string $userId): CompanyUser
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/companies/{companyId}/users/{userId}')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('companyId', $companyId), TemplateParam::init('userId', $userId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(CompanyUser::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates user details for the `userId` and the `companyId` identified in the path.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Users read and write
     *
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $userId The unique identifier of the user.
     * @param UpdateCompanyUserRequest|null $body
     *
     * @return CompanyUser Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function patchCompaniesCompanyIdUsersUserId(
        string $companyId,
        string $userId,
        ?UpdateCompanyUserRequest $body = null
    ): CompanyUser {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/companies/{companyId}/users/{userId}')
            ->server(Server::DEFAULT9)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId),
                TemplateParam::init('userId', $userId),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(CompanyUser::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
